Repository benawad/dogehouse, changes with the labels that .github/labeler.yml gives for each.
All labels: kibbeh, baklava, kebab, kousa, pilaf, shawarma, dolma, emote, translation

feat(global): make workflows cache
  .github/workflows/dolma-npm_deploy.yaml
  .github/workflows/kebab-npm_publish.yaml
  dolma/package.json
Labels: dolma

chore(kebab): trigger workflow
  kebab/package.json
Labels: kebab

chore(kebab): trigger workflow
  kebab/package.json
Labels: kebab

chore(kebab): trigger workflow
  .github/workflows/kebab-npm_publish.yaml
Labels: none

fix(global): update npm deployment scripts
  .github/workflows/globalkey-npm_deploy.yaml
  .github/workflows/kebab-npm_publish.yaml
Labels: none

fix(kibbeh): removed extra size info needed on banner
  dolma/package.json
  kebab/package.json
  kibbeh/src/modules/user/EditProfileModal.tsx
Labels: kibbeh, kebab, dolma

fix(global): remove yarn cache from globalkey
  .github/workflows/globalkey-npm_deploy.yaml
Labels: none

feat(kebab): release 0.3.3
  kebab/package.json
Labels: kebab

feat: add admin tab to user profile
  dolma/package.json
  kebab/package.json
  kibbeh/public/locales/en/translation.json
  kibbeh/src/ui/ProfileAdmin.tsx
  kibbeh/src/ui/ProfileTabs.tsx
  kousa/lib/kousa/user.ex
  yarn.lock
Labels: kibbeh, kebab, kousa, dolma, translation

chore(kebab): trigger workflow
  kebab/package.json
Labels: kebab

chore(global): yarn install
  dolma/package.json
  kibbeh/package.json
Labels: kibbeh, dolma

refactor(kibbeh): use shorthand
  kibbeh/src/ui/ProfileAdmin.tsx
Labels: kibbeh

fix(kousa): banner regex more inclusive
  kousa/lib/beef/schemas/user.ex
  kousa/lib/broth/message/user/update.ex
  kousa/test/broth/user/update_test.exs
Labels: kousa

chore(kousa): update tests
  kousa/test/broth/user/admin_update_test.exs
Labels: kousa

chore(kousa): update tests
  kousa/test/broth/user/admin_update_test.exs
Labels: kousa

chore(kousa): update tests
  kousa/test/broth/user/admin_update_test.exs
Labels: kousa

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

test(kousa): fix
  kousa/test/broth/user/admin_update_test.exs
Labels: kousa

feat(kousa): swap out argon2 for hmac
  kebab/package-lock.json
  kibbeh/package.json
  kousa/Session.vim
  kousa/config/dev.exs
  kousa/config/releases.exs
  kousa/config/test.exs
  kousa/lib/kousa/auth.ex
  kousa/lib/kousa/utils/hash.ex
  kousa/mix.exs
  kousa/mix.lock
  kousa/test/broth/room/ban_test.exs
  yarn.lock
Labels: kibbeh, kebab, kousa

chore(kousa): remove vim session
  kousa/Session.vim
Labels: kousa

create file
  kibbeh/public/locales/en-PIGLATIN/translation.json
Labels: kibbeh, translation

Update LanguageSelector.tsx
  kibbeh/src/ui/LanguageSelector.tsx
Labels: kibbeh

100 mark
  kibbeh/public/locales/en-PIGLATIN/translation.json
Labels: kibbeh, translation

200 mark
  kibbeh/public/locales/en-PIGLATIN/translation.json
Labels: kibbeh, translation

chore(kibbeh): update polish translation
  kibbeh/public/locales/pl/translation.json
Labels: kibbeh, translation

chore(kebab): remove package-lock.json
  kebab/package-lock.json
Labels: kebab

fix(kibbeh): make admin tab highlight
  kibbeh/src/ui/ProfileTabs.tsx
Labels: kibbeh

fix(upcomingroomscard.tsx): "k:mm a" > "h:mm a"
  kibbeh/src/ui/UpcomingRoomsCard.tsx
Labels: kibbeh

chore(kibbeh): update chinese translation
  kibbeh/public/locales/zh-CN/translation.json
Labels: kibbeh, translation

added translation 1
  kebab/package.json
  kibbeh/public/locales/nl/translation.json
  package.json
Labels: kibbeh, kebab, translation

translation 2
  kibbeh/public/locales/nl/translation.json
Labels: kibbeh, translation

translation 3
  kibbeh/public/locales/nl/translation.json
Labels: kibbeh, translation

fix(kibbeh): upcomingroomscard.tsx "k:mm a" > "h:mm a"
  kibbeh/src/ui/UpcomingRoomsCard.tsx
Labels: kibbeh

.github/labeler.yml:

kibbeh:
  - kibbeh/**/*
baklava:
  - baklava/**/*
kebab:
  - kebab/**/*
kousa:
  - kousa/**/*
pilaf:
  - pilaf/**/*
shawarma:
  - shawarma/**/*
dolma:
  - dolma/**/*
emote:
  - kibbeh/public/emotes/**/*
translation:
  - kibbeh/public/locales/**/*
