Repository benawad/dogehouse, changes with the labels that .github/labeler.yml gives for each.
All labels: kibbeh, baklava, kebab, kousa, pilaf, shawarma, emote, translation

.github/labeler.yml:

kibbeh:
  - kibbeh/**/*
baklava:
  - baklava/**/*
kebab:
  - kebab/**/*
kousa:
  - kousa/**/*
pilaf:
  - pilaf/**/*
shawarma:
  - shawarma/**/*
emote:
  - kibbeh/public/emotes/**/*
translation:
  - kibbeh/public/locales/**/*

Update kebab-npm_publish.yaml
  .github/workflows/kebab-npm_publish.yaml
Labels: none

chore(kousa): install
  kousa/mix.lock
Labels: kousa

fix(baklava): changed minWidth to something that is less than the mobile view breakpoint
  baklava/src/electron.ts
Labels: baklava

fix(kibbeh): fix overflow issue
  kibbeh/src/modules/layouts/GridPanels.tsx
Labels: kibbeh

feat(kousa): add tests for avatar_url
  kousa/test/beef/user_test.exs
Labels: kousa

fix(kousa): test
  kousa/test/beef/user_test.exs
Labels: kousa
