Repository benawad/dogehouse, pull requests merged in 2021-03, with the labels that each got.

#666 Boxed icon component
  kibbeh/src/stories/BoxedIcon.story.tsx
  kibbeh/src/ui/BoxedIcon.tsx
Labels: redesign

#708 Global search component
  kibbeh/src/stories/Search/GlobalSearch.story.tsx
  kibbeh/src/stories/Search/SearchBar.story.tsx
  kibbeh/src/stories/Search/SearchHistory.story.tsx
  kibbeh/src/stories/Search/SearchOverlay.story.tsx
  kibbeh/src/stories/Search/SearchResult/RoomSearchResult.story.tsx
  kibbeh/src/stories/Search/SearchResult/UserSearchResult.story.tsx
  kibbeh/src/types/user.d.ts
  kibbeh/src/ui/Search/GlobalSearch.tsx
  kibbeh/src/ui/Search/SearchBar.tsx
  kibbeh/src/ui/Search/SearchHistory.tsx
  kibbeh/src/ui/Search/SearchOverlay.tsx
  kibbeh/src/ui/Search/SearchResult/RoomSearchResult.tsx
  kibbeh/src/ui/Search/SearchResult/UserSearchResult.tsx
  kibbeh/src/ui/Search/SearchResult/index.ts
  kibbeh/src/ui/SearchOverlay.tsx
Labels: redesign

#768 Fixing a typo in the German translations
  kofta/public/locales/de/translation.json
Labels: translation

#741 Updated German translations
  kofta/public/locales/de/translation.json
Labels: translation

#748 Changed some Polish translations, so they seem more normal
  kofta/public/locales/pl/translation.json
Labels: translation

#747 updates Spanish translations
  kofta/public/locales/es/translation.json
Labels: translation

#743 Update pt-pt translation
  kofta/public/locales/pt-PT/translation.json
Labels: translation

#742 Add de translation of word Discord
  kofta/public/locales/de/translation.json
Labels: translation

#778 ➕ Add Arabic language
  kofta/public/locales/ar/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#784 Improved locale/cs
  kofta/public/locales/cs/translation.json
Labels: translation

#711 Implement MinimizedRoomCard
  kibbeh/src/stories/MinimizedRoomCard.story.tsx
  kibbeh/src/ui/BoxedIcon.tsx
  kibbeh/src/ui/Button.tsx
  kibbeh/src/ui/MinimizedRoomCard.tsx
Labels: redesign

#782 Russian translation fix
  kofta/public/locales/ru/translation.json
Labels: translation

#781 Add Korean translation ( staging )
  kofta/public/locales/kr/translation.json
Labels: translation

#779 Updated Pt-br translation
  kofta/public/locales/pt-BR/translation.json
Labels: translation

#777 Fixed french translation
  kofta/public/locales/fr/translation.json
Labels: translation

#764 Updated Turkish translation.
  kofta/public/locales/tr/translation.json
Labels: translation

#786 Implement Feed component
  kibbeh/src/stories/Feed.story.tsx
  kibbeh/src/ui/Feed.tsx
Labels: redesign

#831 Added Greek translation
  kofta/public/locales/el-GR/translation.json
Labels: translation

#826 Fix French translation
  kofta/public/locales/fr/translation.json
Labels: translation

#823 Clean up the BaseOverlay component
  kibbeh/src/ui/BaseOverlay.tsx
Labels: redesign

#716 Added NotifcationsDropdown Component
  kibbeh/.gitignore
  kibbeh/package-lock.json
  kibbeh/package.json
  kibbeh/src/stories/BaseOverlay.story.tsx
  kibbeh/src/stories/NotificationsDropdown.story.tsx
  kibbeh/src/ui/NotificationsDropdown.tsx
Labels: redesign

#720 MessagesDropdown Component UI
  kibbeh/src/stories/MessagesDropdown.story.tsx
  kibbeh/src/ui/MessagesDropdown.tsx
Labels: redesign

#760 FriendsOnline Component
  kibbeh/src/stories/FriendsOnline.story.tsx
  kibbeh/src/ui/FriendsOnline.tsx
Labels: redesign

#816 Add SettingsDropdown component
  kibbeh/src/stories/SettingsDropdown.story.tsx
  kibbeh/src/ui/SettingsDropdown.tsx
Labels: redesign

#913 Implements Header component and associated story
  kibbeh/src/stories/Header.story.tsx
  kibbeh/src/ui/Header.tsx
Labels: redesign

#952 Updated the Greek translation
  kofta/public/locales/el-GR/translation.json
Labels: translation

#954 feat: Add Ukrainian language #947
  kofta/public/locales/uk/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#923 Proposing changes to German translation
  kofta/public/locales/de/translation.json
Labels: translation

#825 Fixed #619 - Added flag emoji's to language selector component
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#965 Detect browser and default to that language in language selector
  kofta/src/i18n.ts
Labels: translation

#962 hebrew: improve whisper message
  kofta/public/locales/he/translation.json
Labels: translation

#970 [RO] Translation typo fixes/edits.
  kofta/public/locales/ro/translation.json
Labels: translation

#1021 Fixed translation bug
  kofta/public/locales/tr/translation.json
Labels: translation

#1019 Fix "allRooms" Chinese translation error
  kofta/public/locales/zh-CN/translation.json
Labels: translation

#980 Update translation.json
  kofta/public/locales/sr/translation.json
Labels: translation

#998 Fixed a typo in Polish translation
  kofta/public/locales/pl/translation.json
Labels: translation

#1007 Russian translation fixes
  kofta/public/locales/ru/translation.json
Labels: translation

#1013 Fixing typo in Finnish translations
  kofta/public/locales/fi/translation.json
Labels: translation

#1014 Added Icelandic translation
  kofta/public/locales/is/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1031 Fixed a typo in Polish translation
  kofta/public/locales/pl/translation.json
Labels: translation

#1047 Fixed transalation to portuguese for words audio and excluir
  kofta/public/locales/pt-BR/translation.json
Labels: translation

#1053 Update translation.json
  kofta/public/locales/hu/translation.json
Labels: translation

#1055 Updated Dutch Language
  kofta/public/locales/nl/translation.json
Labels: translation

#1061 Fixed few typos in czech locale
  kofta/public/locales/cs/translation.json
Labels: translation

#1062 Updated Icelandic translations
  kofta/public/locales/is/translation.json
Labels: translation

#1033 Added Slovakia to Language Selector
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1056 Added Albanian locales
  kofta/public/locales/al/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1028 Update Nepali translation
  kofta/public/locales/ne/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1015 Small changes, uppercased first chars (cleaner)
  kofta/public/locales/da/translation.json
Labels: translation

#1036 Add translation keys for rocket->moon status
  kofta/public/locales/af/translation.json
  kofta/public/locales/am/translation.json
  kofta/public/locales/ar/translation.json
  kofta/public/locales/bn/translation.json
  kofta/public/locales/cs/translation.json
  kofta/public/locales/da/translation.json
  kofta/public/locales/de/translation.json
  kofta/public/locales/el-GR/translation.json
  kofta/public/locales/en/translation.json
  kofta/public/locales/es/translation.json
  kofta/public/locales/et/translation.json
  kofta/public/locales/fi/translation.json
  kofta/public/locales/fr/translation.json
  kofta/public/locales/he/translation.json
  kofta/public/locales/hi/translation.json
  kofta/public/locales/hu/translation.json
  kofta/public/locales/id/translation.json
  kofta/public/locales/is/translation.json
  kofta/public/locales/it/translation.json
  kofta/public/locales/ja/translation.json
  kofta/public/locales/kr/translation.json
  kofta/public/locales/lt/translation.json
  kofta/public/locales/nb/translation.json
  kofta/public/locales/ne/translation.json
  kofta/public/locales/nl/translation.json
  kofta/public/locales/pl/translation.json
  kofta/public/locales/pt-BR/translation.json
  kofta/public/locales/pt-PT/translation.json
  kofta/public/locales/ro/translation.json
  kofta/public/locales/ru/translation.json
  kofta/public/locales/se/translation.json
  kofta/public/locales/sk/translation.json
  kofta/public/locales/sr-Latin/translation.json
  kofta/public/locales/sr/translation.json
  kofta/public/locales/th/translation.json
  kofta/public/locales/tr/translation.json
  kofta/public/locales/uk/translation.json
  kofta/public/locales/ur/translation.json
  kofta/public/locales/zh-CN/translation.json
  kofta/public/locales/zh-TW/translation.json
  kofta/src/app/utils/timeElapsed.ts
  kofta/src/generated/translationKeys.ts
Labels: translation

#1066 Updated a few lines for the Swedish translation
  kofta/public/locales/se/translation.json
Labels: translation

#874 urdu translation fixes
  kofta/public/locales/ur/translation.json
Labels: translation

#1051 added translation to Bulgarian
  kofta/public/locales/bg/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1089 Electron wrapper improvements
  baklava/icons/._tray.png
  baklava/icons/tray.png
  baklava/package-lock.json
  baklava/package.json
  baklava/src/constants.ts
  baklava/src/electron.ts
  baklava/src/utils/keybinds.ts
  baklava/src/utils/notifications.ts
  baklava/src/utils/tray.ts
  kofta/src/app/components/KeybindListener.tsx
  kofta/src/app/useMainWsHandler.ts
  kofta/src/createWebsocket.ts
  kofta/src/webrtc/utils/mergeRoomPermission.ts
Labels: translation

#1099 Update Hungarian translation
  kofta/public/locales/hu/translation.json
Labels: translation

#1100 Added some fixes to the Dutch translation
  kofta/public/locales/nl/translation.json
Labels: translation

#1104 Fix spelling and typos in Russian translation
  kofta/public/locales/ru/translation.json
Labels: translation

#1103 Update RO translations and typos.
  kofta/public/locales/ro/translation.json
Labels: translation

#1105 Corrected the Norwegian language
  kofta/public/locales/nb/translation.json
Labels: translation

#1114 Fixed some swedish translation stuff
  kofta/public/locales/se/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1116 Update Slovak translation for latest additions
  kofta/public/locales/sk/translation.json
Labels: translation

#1119 Little fixes/changes to the Dutch translations.
  kofta/public/locales/nl/translation.json
Labels: translation

#1126 fixed a bug that caused chat text not to be translated
  kofta/public/locales/af/translation.json
  kofta/public/locales/al/translation.json
  kofta/public/locales/am/translation.json
  kofta/public/locales/ar/translation.json
  kofta/public/locales/az/translation.json
  kofta/public/locales/bn/translation.json
  kofta/public/locales/cs/translation.json
  kofta/public/locales/da/translation.json
  kofta/public/locales/de/translation.json
  kofta/public/locales/el-GR/translation.json
  kofta/public/locales/en/translation.json
  kofta/public/locales/es/translation.json
  kofta/public/locales/et/translation.json
  kofta/public/locales/fi/translation.json
  kofta/public/locales/fr/translation.json
  kofta/public/locales/he/translation.json
  kofta/public/locales/hi/translation.json
  kofta/public/locales/hu/translation.json
  kofta/public/locales/id/translation.json
  kofta/public/locales/is/translation.json
  kofta/public/locales/it/translation.json
  kofta/public/locales/ja/translation.json
  kofta/public/locales/kr/translation.json
  kofta/public/locales/lt/translation.json
  kofta/public/locales/nb/translation.json
  kofta/public/locales/ne/translation.json
  kofta/public/locales/nl/translation.json
  kofta/public/locales/pl/translation.json
  kofta/public/locales/pt-BR/translation.json
  kofta/public/locales/pt-PT/translation.json
  kofta/public/locales/ro/translation.json
  kofta/public/locales/ru/translation.json
  kofta/public/locales/se/translation.json
  kofta/public/locales/sk/translation.json
  kofta/public/locales/sr-Latin/translation.json
  kofta/public/locales/sr/translation.json
  kofta/public/locales/th/translation.json
  kofta/public/locales/tr/translation.json
  kofta/public/locales/uk/translation.json
  kofta/public/locales/ur/translation.json
  kofta/public/locales/zh-CN/translation.json
  kofta/public/locales/zh-TW/translation.json
  kofta/src/app/components/BottomVoiceControl.tsx
  kofta/src/generated/translationKeys.ts
Labels: translation

#1136 updated translation
  kofta/public/locales/tr/translation.json
Labels: translation

#1134 Make new timestamp emojis pirate speak
  kofta/public/locales/en-pirate/translation.json
Labels: translation

#1140 Added new translation key to fix issue #1131
  kofta/public/locales/af/translation.json
  kofta/public/locales/al/translation.json
  kofta/public/locales/am/translation.json
  kofta/public/locales/ar/translation.json
  kofta/public/locales/az/translation.json
  kofta/public/locales/bg/translation.json
  kofta/public/locales/bn/translation.json
  kofta/public/locales/cs/translation.json
  kofta/public/locales/da/translation.json
  kofta/public/locales/de/translation.json
  kofta/public/locales/el-GR/translation.json
  kofta/public/locales/en-pirate/translation.json
  kofta/public/locales/en/translation.json
  kofta/public/locales/es/translation.json
  kofta/public/locales/et/translation.json
  kofta/public/locales/fi/translation.json
  kofta/public/locales/fr/translation.json
  kofta/public/locales/he/translation.json
  kofta/public/locales/hi/translation.json
  kofta/public/locales/hu/translation.json
  kofta/public/locales/id/translation.json
  kofta/public/locales/is/translation.json
  kofta/public/locales/it/translation.json
  kofta/public/locales/ja/translation.json
  kofta/public/locales/kr/translation.json
  kofta/public/locales/lt/translation.json
  kofta/public/locales/nb/translation.json
  kofta/public/locales/ne/translation.json
  kofta/public/locales/nl/translation.json
  kofta/public/locales/owo/translation.json
  kofta/public/locales/pl/translation.json
  kofta/public/locales/pt-BR/translation.json
  kofta/public/locales/pt-PT/translation.json
  kofta/public/locales/ro/translation.json
  kofta/public/locales/ru/translation.json
  kofta/public/locales/se/translation.json
  kofta/public/locales/sk/translation.json
  kofta/public/locales/sr-Latin/translation.json
  kofta/public/locales/sr/translation.json
  kofta/public/locales/th/translation.json
  kofta/public/locales/tr/translation.json
  kofta/public/locales/uk/translation.json
  kofta/public/locales/ur/translation.json
  kofta/public/locales/zh-CN/translation.json
  kofta/public/locales/zh-TW/translation.json
  kofta/src/app/modules/scheduled-rooms/ScheduleRoomModal.tsx
  kofta/src/generated/translationKeys.ts
Labels: translation

#1046 Change language name in the selector to its native name
  kofta/public/locales/gsw/translation.json
  kofta/public/locales/ko/translation.json
  kofta/public/locales/sq/translation.json
  kofta/public/locales/sv/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1164 chore(kofta): update Japanese translation
  kofta/public/locales/ja/translation.json
Labels: translation

#1168 Adding of the Limburgish dialect/language
  kofta/public/locales/li/translations.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1172 Chat translation for Serbian language
  kofta/public/locales/sr-Latin/translation.json
  kofta/public/locales/sr/translation.json
Labels: translation

#1175 changed pt-BR and pt-PT new field translation
  kofta/public/locales/pt-BR/translation.json
  kofta/public/locales/pt-PT/translation.json
Labels: translation

#1235 Updating and Fixing some translation files
  kofta/public/locales/am/translation.json
  kofta/public/locales/de/translation.json
  kofta/public/locales/sv/translation.json
Labels: translation

#1236 Update translations and fixed mistakes
  kofta/public/locales/el-GR/translation.json
Labels: translation

#1243 Translated the rest of the PT-BR locales
  kofta/public/locales/pt-BR/translation.json
Labels: translation

#1246 fix some Chinese translation error
  kofta/public/locales/zh-CN/translation.json
Labels: translation

#1248 Grammatical error
  CODE_OF_CONDUCT.md
Labels: translation

#1253 Update Polish translations
  kofta/public/locales/pl/translation.json
Labels: translation

#1254 Updated hebrew translation
  kofta/public/locales/he/translation.json
Labels: translation

#1260 updates Spanish translations
  kofta/public/locales/es/translation.json
Labels: translation

#1261 Update translation.json
  kofta/public/locales/ar/translation.json
Labels: translation

#1263 add more translations to en-pirate
  kofta/public/locales/en-pirate/translation.json
Labels: translation

#1287 add persian (fa) locale
  kofta/public/locales/fa/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1210 added translation to user profile and follow list page
  kofta/public/locales/af/translation.json
  kofta/public/locales/am/translation.json
  kofta/public/locales/ar/translation.json
  kofta/public/locales/az/translation.json
  kofta/public/locales/bg/translation.json
  kofta/public/locales/bn/translation.json
  kofta/public/locales/cs/translation.json
  kofta/public/locales/da/translation.json
  kofta/public/locales/de/translation.json
  kofta/public/locales/el-GR/translation.json
  kofta/public/locales/en-pirate/translation.json
  kofta/public/locales/en/translation.json
  kofta/public/locales/es/translation.json
  kofta/public/locales/et/translation.json
  kofta/public/locales/fi/translation.json
  kofta/public/locales/fr/translation.json
  kofta/public/locales/gsw/translation.json
  kofta/public/locales/he/translation.json
  kofta/public/locales/hi/translation.json
  kofta/public/locales/hu/translation.json
  kofta/public/locales/id/translation.json
  kofta/public/locales/is/translation.json
  kofta/public/locales/it/translation.json
  kofta/public/locales/ja/translation.json
  kofta/public/locales/ko/translation.json
  kofta/public/locales/li/translation.json
  kofta/public/locales/lt/translation.json
  kofta/public/locales/nb/translation.json
  kofta/public/locales/ne/translation.json
  kofta/public/locales/nl/translation.json
  kofta/public/locales/owo/translation.json
  kofta/public/locales/pl/translation.json
  kofta/public/locales/pt-BR/translation.json
  kofta/public/locales/pt-PT/translation.json
  kofta/public/locales/ro/translation.json
  kofta/public/locales/ru/translation.json
  kofta/public/locales/sk/translation.json
  kofta/public/locales/sq/translation.json
  kofta/public/locales/sr-Latin/translation.json
  kofta/public/locales/sr/translation.json
  kofta/public/locales/sv/translation.json
  kofta/public/locales/th/translation.json
  kofta/public/locales/tr/translation.json
  kofta/public/locales/uk/translation.json
  kofta/public/locales/ur/translation.json
  kofta/public/locales/zh-CN/translation.json
  kofta/public/locales/zh-TW/translation.json
  kofta/src/app/components/UserProfile.tsx
  kofta/src/app/pages/FollowListPage.tsx
  kofta/src/generated/translationKeys.ts
Labels: translation

#1244 add translation to latvian
  kofta/public/locales/lv/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1296 Added Croatian option to LanguageSelector.tsx
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1268 Created Croatian translations
  kibbeh/public/locales/hr/translation.json
Labels: translation

#1294 localization: improve Greek locale on kibbeh and kofta
  kibbeh/public/locales/el-GR/translation.json
  kofta/public/locales/am/translation.json
  kofta/public/locales/cs/translation.json
  kofta/public/locales/de/translation.json
  kofta/public/locales/el-GR/translation.json
  kofta/public/locales/sl/translation.json
  kofta/public/locales/sv/translation.json
Labels: translation

#1308 changes on GReek language (translation)
  kibbeh/public/locales/el-GR/translation.json
Labels: translation

#1326 added an XXS size to the SingleUser component
  kibbeh/src/ui/UserAvatar/SingleUser.tsx
Labels: redesign

#1322 Updated french translations
  kofta/public/locales/fr/translation.json
Labels: translation

#1275 adds Esperanto translations
  kofta/public/locales/eo/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1321 add sinhala language
  kofta/public/locales/si/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1335 Updated a lot of stuff in Icelandic locale
  kofta/public/locales/is/translation.json
Labels: translation

#1346 Localisation: Added Tamil language translation keys. #1337
  kofta/public/locales/ta/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1336 Updated Bengali Translation
  kibbeh/public/locales/bn/translation.json
  kofta/public/locales/bn/translation.json
Labels: translation

#1349 add Euskera (EU) translation
  kibbeh/public/locales/eu/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1354 Updated latvian translation
  kofta/public/locales/lv/translation.json
Labels: translation

#1344 better hindi translation
  kibbeh/public/locales/hi/translation.json
  kofta/public/locales/hi/translation.json
Labels: translation

#1350 Updated Norwegian
  kofta/public/locales/nb/translation.json
Labels: translation

#1362 Updated the emote docs
  CONTRIBUTING.md
Labels: documentation

#1355 Updated norwegian translations.
  kofta/public/locales/nb/translation.json
Labels: translation

#1345 Update translation.json
  kibbeh/public/locales/fa/translation.json
Labels: translation

#1363 New emojis
  kofta/public/emotes/reddogehouse.png
  kofta/public/emotes/this.png
  kofta/src/app/modules/room-chat/EmoteData.ts
Labels: emote

#1361 Circular Boxed Icon
  kibbeh/src/ui/BoxedIcon.tsx
Labels: redesign

#1315 localisation: add Austrian (AT) translation keys
  kofta/public/locales/at/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1301 fix macos icon size
  baklava/icons/icon.icns
  baklava/icons/icon.png
Labels: bug

#1328 Optimized the SearchBar for mobile
  kibbeh/src/stories/Search/SearchBar.story.tsx
  kibbeh/src/ui/Search/SearchBar.tsx
Labels: redesign

#1389 added missing pt-BR translations
  kofta/public/locales/pt-BR/translation.json
Labels: translation

#1396 Remove dupe emojis, fixes #1394
  kofta/public/emotes/clap.gif
  kofta/public/emotes/coggers.gif
  kofta/public/emotes/crabPls.gif
  kofta/public/emotes/ez.png
  kofta/public/emotes/omegaLul.png
  kofta/public/emotes/peepohey.gif
Labels: emote

#1398 update translations
  kofta/public/locales/uk/translation.json
Labels: translation

#1400 Updated the dutch language
  kofta/public/locales/nl/translation.json
Labels: translation

#1391 style(kofta): improved Estonian translation
  kofta/public/locales/et/translation.json
Labels: translation

#1384 Edit to native Arabic
  kofta/public/locales/ar/translation.json
Labels: translation

#1375 Update swedish translations
  kibbeh/public/locales/sv/translation.json
  kofta/public/locales/sv/translation.json
Labels: translation

#1366 User Avatar - Multiple Users component
  kibbeh/src/ui/UserAvatar/MultipleUsers.tsx
Labels: redesign

#1402 Updated Slovenian translation
  kofta/public/locales/sl/translation.json
Labels: translation

#1405 Update Russian translation
  kofta/public/locales/ru/translation.json
Labels: translation

#1370 Adds AccountOverlay mobile component
  kibbeh/package-lock.json
  kibbeh/package.json
  kibbeh/src/stories/AccountOverlay.story.tsx
  kibbeh/src/ui/mobile/AccountOverlay.tsx
  kibbeh/src/ui/mobile/__tests__/AccountOverlay.spec.tsx
  kibbeh/src/ui/mobile/__tests__/__snapshots__/AccountOverlay.spec.tsx.snap
Labels: redesign

#1399 Kousa: Use simpler control flow structures where possible
  kousa/lib/beef/access/rooms.ex
  kousa/lib/beef/mutations/users.ex
  kousa/lib/beef/scheduled_rooms.ex
  kousa/lib/broth/socket_handler.ex
  kousa/lib/kousa/room.ex
  kousa/lib/kousa/scheduled_room.ex
Labels: system

#1417 Adding Tagalog translation
  kibbeh/public/locales/ph/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1414 Fix #1341
  kofta/public/locales/ar/translation.json
  kofta/public/locales/nb/translation.json
  kofta/public/locales/ru/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1382 Add MobileNav Component
  kibbeh/src/modules/landing-page/LandingPage.tsx
  kibbeh/src/stories/MobileNav.story.tsx
  kibbeh/src/ui/mobile/MobileNav.tsx
  kibbeh/tailwind.config.js
Labels: redesign

#1443 Fix pirate translations
  kofta/public/locales/en-pirate/translation.json
Labels: translation

#1447 Updating missing values in Urdu translation
  kofta/public/locales/ur/translation.json
Labels: translation

#1452 Update Dutch Translations
  kofta/public/locales/nl/translation.json
Labels: translation

#1448 Updating missing values in Urdu translation
  kofta/public/locales/ur/translation.json
Labels: translation

#1454 (kofta) Add bottom Translation
  .gitignore
  kofta/public/locales/bottom/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1397 Added FeaturedRoomCardHosts (#1324)
  kibbeh/src/stories/mobile/FeaturedRoomCardAvatars.story.tsx
  kibbeh/src/stories/mobile/FeaturedRoomCardHosts.story.tsx
  kibbeh/src/ui/UserAvatar/MultipleUsers.tsx
  kibbeh/src/ui/UserAvatar/SingleUser.tsx
  kibbeh/src/ui/mobile/FeaturedRoomCardAvatars.tsx
  kibbeh/src/ui/mobile/FeaturedRoomCardHosts.tsx
Labels: redesign

#1424 Added Responsiveness to MessageElement
  kibbeh/src/ui/MessageElement.tsx
Labels: redesign

#1463 Updated the polish translation
  kofta/public/locales/pl/translation.json
Labels: translation

#1469 Updated French Translation
  kofta/public/locales/fr/translation.json
Labels: translation

#1478 Updated the Greek translation and added Ancient Greek translation
  kofta/public/locales/ag-GR/translation.json
  kofta/public/locales/el-GR/translation.json
Labels: translation

#1482 Update Slovak translations
  kofta/public/locales/sk/translation.json
Labels: translation

#1473 Fix (baklava): potentially making app work with linux, migrating to yarn and more
  baklava/package-lock.json
  baklava/package.json
  baklava/resources/overlay/src/App.js
  baklava/resources/splash/splash-screen.html
  baklava/src/constants.ts
  baklava/src/electron.ts
  baklava/src/types.ts
  baklava/src/utils/keybinds.ts
  baklava/yarn.lock
Labels: system

#1504 Translate roomStatus for OwO
  kibbeh/public/locales/owo/translation.json
Labels: translation

#1499 Fix and add new unit tests
  kibbeh/src/ui/ErrorMessageButton.tsx
  kibbeh/src/ui/InputErrorMsg.tsx
  kibbeh/src/ui/MainGrid.tsx
  kibbeh/src/ui/MessageElement.tsx
  kibbeh/src/ui/UserAvatar/tests/__snapshots__/MultipleUser.spec.tsx.snap
  kibbeh/src/ui/tests/ErrorMessageButton.spec.tsx
  kibbeh/src/ui/tests/ErrorToast.spec.tsx
  kibbeh/src/ui/tests/InputErrorMsg.spec.tsx
  kibbeh/src/ui/tests/MainGrid.spec.tsx
  kibbeh/src/ui/tests/MessageElement.spec.tsx
  kibbeh/src/ui/tests/__snapshots__/ErrorMessageButton.spec.tsx.snap
  kibbeh/src/ui/tests/__snapshots__/ErrorToast.spec.tsx.snap
  kibbeh/src/ui/tests/__snapshots__/InputErrorMsg.spec.tsx.snap
  kibbeh/src/ui/tests/__snapshots__/MainGrid.spec.tsx.snap
  kibbeh/src/ui/tests/__snapshots__/MessageElement.spec.tsx.snap
Labels: redesign

#1510 Updated Bengali Translation
  kofta/public/locales/bn/translation.json
Labels: translation

#1514 Updated the Greek translation
  kofta/public/locales/el-GR/translation.json
Labels: translation

#1512 Update translation.json (Swissgerman)
  kibbeh/public/locales/gsw/translation.json
Labels: translation

#1517 Update hu/translation.json
  kibbeh/public/locales/hu/translation.json
  kofta/public/locales/hu/translation.json
Labels: translation

#1493 update Chinese translation
  kibbeh/public/locales/zh-CN/translation.json
  kofta/public/locales/zh-CN/translation.json
Labels: translation

#1511 Update Swedish translation.json
  kofta/public/locales/sv/translation.json
Labels: translation

#1523 Updated Chinese Translation
  kibbeh/public/locales/zh-CN/translation.json
  kofta/public/locales/zh-CN/translation.json
Labels: translation

#1526 Update Thai translation.
  kofta/public/locales/th/translation.json
Labels: translation

#1533 :memo: Capitalization and further translation
  kofta/public/locales/nb/translation.json
Labels: translation

#1524 Added some translations and made some others sound more natural
  kofta/public/locales/de/translation.json
Labels: translation

#1548 Fix: Fixed abnormally large build sizes
  baklava/package.json
  baklava/resources/overlay/package.json
  baklava/resources/overlay/src/App.js
  baklava/resources/overlay/test.json
  baklava/resources/splash/splash-screen.html
  baklava/src/dev.ts
  baklava/src/electron.ts
  baklava/src/types.ts
  baklava/src/utils/ipc.ts
  baklava/src/utils/keybinds.ts
  baklava/src/utils/notifications.ts
  baklava/src/utils/overlay.ts
  baklava/yarn.lock
Labels: system

#1546 Pilaf
  pilaf/App.tsx
  pilaf/android/app/src/main/res/raw/mute.wav
  pilaf/android/app/src/main/res/raw/room_chat_mention.wav
  pilaf/android/app/src/main/res/raw/room_invite.wav
  pilaf/android/app/src/main/res/raw/unmute.wav
  pilaf/ios/Podfile.lock
  pilaf/ios/rice.xcodeproj/project.pbxproj
  pilaf/ios/rice/mute.wav
  pilaf/ios/rice/room_chat_mention.wav
  pilaf/ios/rice/room_invite.wav
  pilaf/ios/rice/unmute.wav
  pilaf/package.json
  pilaf/src/components/ErrorToast.tsx
  pilaf/src/lib/isUuid.ts
  pilaf/src/modules/auth/WaitForWsAndAuth.tsx
  pilaf/src/modules/auth/useVerifyLoggedIn.ts
  pilaf/src/modules/dashboard/FeedController.tsx
  pilaf/src/modules/room/RoomPanelController.tsx
  pilaf/src/modules/sound-effect/useSoundEffectStore.ts
  pilaf/src/modules/ws/WebSocketProvider.tsx
  pilaf/src/navigators/MainNavigator.tsx
  pilaf/src/pages/RoomPage.tsx
  pilaf/src/pages/SchedulePage.tsx
  pilaf/src/shared-hooks/useConn.ts
  pilaf/src/types/util-types.ts
  pilaf/yarn.lock
Labels: system

#1495 [Kofta] Add Australian translation
  kofta/public/locales/en-AU/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1522 Baklava: Translations
  baklava/README.md
  baklava/locales/en/translate.json
  baklava/package.json
  baklava/resources/splash/splash-screen.html
  baklava/scripts/generateTranslationTypes.ts
  baklava/scripts/syncTranslations.ts
  baklava/scripts/traverseTranslations.ts
  baklava/scripts/tsconfig.json
  baklava/src/electron.ts
  baklava/src/generated/translationKeys.ts
  baklava/yarn.lock
Labels: system, translation
