Repository benawad/dogehouse, pull requests merged in 2021-04, with the labels that each got.

#1703 [Kibbeh] Small UI tweaks
  kibbeh/src/modules/user/FollowingController.tsx
  kibbeh/src/modules/user/VerticalUserInfoWithFollowButton.tsx
  kibbeh/src/ui/Modal.tsx
  kibbeh/src/ui/RoomHeader.tsx
  kibbeh/src/ui/RoomSectionHeader.tsx
  kibbeh/src/ui/VerticalUserInfo.tsx
Labels: redesign

#1706 Update README.md to reflect an Ubuntu PPA
  README.md
Labels: documentation

#1690 Baklava: migration to yarn v2, snap support, reduced build times and more
  .github/workflows/electron-release.yaml
  baklava/.gitignore
  baklava/.yarnrc
  baklava/icons/._tray.png
  baklava/locales/en/translate.json
  baklava/package.json
  baklava/resources/splash/splash-screen.html
  baklava/src/constants.ts
  baklava/src/electron.ts
  baklava/src/utils/tray.ts
  baklava/yarn.lock
Labels: enhancement, system

#1829 Fix LgLogo Import
  kibbeh/src/modules/landing-page/LoginPage.tsx
Labels: refactor

#1827 Pilaf - WIP : Room UI
  pilaf/package.json
  pilaf/src/assets/images/SolidMicrophoneOff.png
  pilaf/src/assets/images/SolidMicrophoneOff@2x.png
  pilaf/src/assets/images/SolidMicrophoneOff@3x.png
  pilaf/src/components/avatars/SingleUserAvatar.tsx
  pilaf/src/components/header/RoomHeader.tsx
  pilaf/src/modules/room/RoomPanelController.tsx
  pilaf/src/modules/room/chat/RoomChat.tsx
  pilaf/src/modules/room/chat/RoomChatControls.tsx
  pilaf/src/modules/room/chat/RoomChatInput.tsx
  pilaf/src/modules/room/chat/RoomChatList.tsx
  pilaf/src/modules/webrtc/WebRtcApp.tsx
  pilaf/src/modules/ws/WebSocketProvider.tsx
  pilaf/src/navigators/RootNavigation.ts
  pilaf/src/pages/CreateRoomPage.tsx
  pilaf/yarn.lock
Labels: enhancement

#1830 updated hebrew translation
  kofta/public/locales/he/translation.json
Labels: translation

#1831 Update Chinese translation
  kibbeh/public/locales/zh-CN/translation.json
  kofta/public/locales/zh-CN/translation.json
Labels: translation

#1828 Fix pilaf Tag styles
  pilaf/src/components/Tag.tsx
  pilaf/src/pages/DashboardPage.tsx
  pilaf/storybook/stories/FeaturedRoomCard.stories.tsx
Labels: bug

#1388 Added MobileHeader Component UI
  kibbeh/src/stories/MobileHeader/PageHeader.story.tsx
  kibbeh/src/stories/MobileHeader/ProfileHeader.story.tsx
  kibbeh/src/stories/MobileHeader/SearchHeader.story.tsx
  kibbeh/src/ui/mobile/MobileHeader/PageHeader.tsx
  kibbeh/src/ui/mobile/MobileHeader/ProfileHeader.tsx
  kibbeh/src/ui/mobile/MobileHeader/SearchHeader.tsx
  kibbeh/src/ui/mobile/MobileHeader/index.tsx
Labels: redesign

#1849 Added hover background to room cards
  kibbeh/src/ui/RoomCard.tsx
Labels: enhancement, redesign

#1847 Just a little baklava update
  baklava/package.json
Labels: enhancement, system

#1842 emotes work with lowercase & json is lowercase
  kibbeh/src/modules/room/chat/EmoteData.ts
  kibbeh/src/modules/room/chat/RoomChatList.tsx
Labels: enhancement, refactor

#1824 Use npm.uuid library vs. custom code
  kibbeh/src/lib/isUuid.ts
  kibbeh/src/modules/room/useGetRoomByQueryParam.ts
  kofta/package.json
  kofta/src/app/pages/RoomPage.tsx
  kofta/src/app/useMainWsHandler.ts
  kofta/src/app/utils/isUuid.ts
  kofta/src/createWebsocket.ts
  kofta/src/webrtc/utils/uuidv4.ts
  pilaf/package.json
  pilaf/src/lib/isUuid.ts
  pilaf/src/modules/room/RoomPanelController.tsx
Labels: refactor

#1858 🔥 Edited Czech translation
  kibbeh/public/locales/cs/translation.json
Labels: translation

#1786 feat(kofta): added translation to the language "Toki Pona" in the "tp…
  kibbeh/public/locales/tp/translation.json
  kofta/public/locales/tp/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1870 👽 Swedish Translation Fixes in Kibbeh
  kibbeh/public/locales/sv/translation.json
Labels: translation

#1892 (feat. Kibbeh) The Language Selector.
  kibbeh/package.json
  kibbeh/src/modules/room/RoomPanelController.tsx
  kibbeh/src/modules/room/chat/EmoteData.ts
  kibbeh/src/styles/globals.css
  kibbeh/src/ui/BaseOverlay.tsx
  kibbeh/src/ui/DropdownController.tsx
  kibbeh/src/ui/LanguageSelector.tsx
  kibbeh/src/ui/SettingsDropdown.tsx
  kibbeh/src/ui/Twemoji.tsx
  kibbeh/src/ui/header/RightHeader.tsx
  kibbeh/tailwind.config.js
  yarn.lock
Labels: enhancement

#1902 Moved RoomCardHeading stories into two different sections instead of both in one
  kibbeh/src/stories/RoomCardHeading.story.tsx
Labels: refactor

#1901 Add new design link to readme
  README.md
Labels: meta

#1917 fix: add "waytoodank" to the waytoodank emote keywords
  kibbeh/src/modules/room/chat/EmoteData.ts
  kofta/src/app/modules/room-chat/EmoteData.ts
  pilaf/src/modules/room/chat/EmoteData.ts
Labels: emote

#1921 localisation: update Austrian (AT) translation keys
  kofta/public/locales/at/translation.json
Labels: translation

#1898 fix(lang): Update Romanian translations
  kofta/public/locales/ro/translation.json
Labels: translation

#1694 Improve English Translations
  kibbeh/public/locales/en-pirate/translation.json
  kibbeh/public/locales/en/translation.json
  kibbeh/public/locales/owo/translation.json
  kibbeh/public/locales/so/translation.json
  kofta/public/locales/en-pirate/translation.json
  kofta/public/locales/en/translation.json
  kofta/public/locales/owo/translation.json
  kofta/src/app/pages/Login.tsx
Labels: translation

#1906 Centered connection-taken page
  kibbeh/src/pages/connection-taken.tsx
Labels: redesign

#1930 Kebab | Fixes, jest and more events
  kebab/README.md
  kebab/examples/bot/README.md
  kebab/examples/bot/package-lock.json
  kebab/examples/bot/yarn.lock
  kebab/examples/chat/README.md
  kebab/examples/chat/package-lock.json
  kebab/examples/chat/yarn.lock
  kebab/examples/mediasoup-audio/README.md
  kebab/examples/mediasoup-audio/package-lock.json
  kebab/examples/mediasoup-audio/src/index.ts
  kebab/examples/mediasoup-audio/yarn.lock
  kebab/examples/react-chat/README.md
  kebab/examples/react-chat/package-lock.json
  kebab/examples/react-chat/yarn.lock
  kebab/jest.config.js
  kebab/package.json
  kebab/src/ast.test.ts
  kebab/src/audio/audioWrapper.ts
  kebab/src/audio/mediasoup-client.ts
  kebab/src/entities.ts
  kebab/src/index.ts
  kebab/src/responses.ts
  kebab/src/wrapper.ts
  kebab/tsconfig.json
  kibbeh/package.json
  yarn.lock
Labels: bug, enhancement, refactor

#1916 feat(component): added the transition prop to SettingsIcon.tsx and added the property to other files
  kibbeh/src/ui/BoxedIcon.tsx
  kibbeh/src/ui/RoomPanelIconBar.tsx
  kibbeh/src/ui/SettingsDropdown.tsx
  kibbeh/src/ui/SettingsIcon.tsx
Labels: redesign, refactor

#1922 [MAJOR] Updated a lot of npm packages
  kebab/package.json
  kibbeh/package.json
  kibbeh/src/modules/dashboard/FeedController.tsx
  kibbeh/src/modules/room/RoomUsersPanel.tsx
  kibbeh/src/modules/settings/OverlaySettingsPage.tsx
  kibbeh/src/modules/settings/SoundEffectSettingsPage.tsx
  kibbeh/src/modules/settings/VoiceSettingsPage.tsx
  kibbeh/src/modules/user/EditProfileModal.tsx
  kibbeh/src/modules/user/UserProfileController.tsx
  kibbeh/src/stories/RoomCardHeading.story.tsx
  kibbeh/src/ui/BoxedIcon.tsx
  kibbeh/src/ui/Button.tsx
  kibbeh/src/ui/Feed.tsx
  package.json
  yarn.lock
Labels: refactor

#1953 fixed pt-BR translation
  kofta/public/locales/pt-BR/translation.json
Labels: translation

#1944 feat(kibbeh): UI polishing, tweaks and improvements
  kibbeh/src/modules/room/RoomUsersPanel.tsx
  kibbeh/src/modules/room/chat/RoomChatList.tsx
  kibbeh/src/modules/room/useSplitUsersIntoSections.tsx
  kibbeh/src/modules/user/UserProfileController.tsx
  kibbeh/src/ui/BoxedIcon.tsx
  kibbeh/src/ui/Button.tsx
  kibbeh/src/ui/DropdownController.tsx
  kibbeh/src/ui/FollowersOnline.tsx
  kibbeh/src/ui/LanguageSelector.tsx
  kibbeh/src/ui/MainGrid.tsx
  kibbeh/src/ui/RoomAvatar.tsx
  kibbeh/src/ui/SettingsDropdown.tsx
  kibbeh/src/ui/SettingsIcon.tsx
  kibbeh/src/ui/UserAvatar/SingleUser.tsx
  kibbeh/src/ui/header/RightHeader.tsx
  kibbeh/tailwind.config.js
Labels: enhancement, redesign

#1941 show informative tool tips on icon buttons
  kibbeh/src/ui/RoomPanelIconBar.tsx
Labels: enhancement

#1913 replace multiple else/ifs with switch case
  kibbeh/src/modules/layouts/DesktopLayout.tsx
Labels: refactor

#1956 Fixed a typo in the polish translation - #1899
  kibbeh/public/locales/pl/translation.json
Labels: translation

#1971 Added Uzbek translation
  kibbeh/public/locales/uz/translation.json
  kibbeh/src/ui/LanguageSelector.tsx
  kofta/public/locales/uz/translation.json
  kofta/src/app/components/LanguageSelector.tsx
Labels: translation

#1947 baklava/package.json: Add snap interfaces + fix spelling bug in NSMicrophoneUsageDescription
  baklava/package.json
Labels: system

#1974 Update Dutch Translations
  kofta/public/locales/nl/translation.json
Labels: translation

#1988 Updated Romanian Translation
  kibbeh/public/locales/ro/translation.json
Labels: translation

#1998 Fixed the French translation
  kofta/public/locales/fr/translation.json
Labels: translation

#1995 (Re-)Fixed z̗͉͍͎̞̓ͭͭ̐̐a̲̻̺̹ͫͪͨ̑l̪̘̦͋̎̇ǵ̹͕̀o͎ͩ text
  kibbeh/src/modules/room/chat/RoomChatList.tsx
  kibbeh/src/ui/MinimizedRoomCard.tsx
  kibbeh/src/ui/UserSummaryCard.tsx
Labels: refactor

#2010 baklava: added custom titlebar
  baklava/package.json
  baklava/src/constants.ts
  baklava/src/electron.ts
  kibbeh/src/global-stores/useHostStore.ts
  kibbeh/src/icons/MacCloseIcon.tsx
  kibbeh/src/icons/MacMaximizeIcon.tsx
  kibbeh/src/icons/MacMinimizeIcon.tsx
  kibbeh/src/icons/WinCloseIcon.tsx
  kibbeh/src/icons/WinMaximizeIcon.tsx
  kibbeh/src/icons/WinMinimizeIcon.tsx
  kibbeh/src/icons/index.tsx
  kibbeh/src/modules/layouts/DesktopLayout.tsx
  kibbeh/src/modules/layouts/ElectronHeader.tsx
  kibbeh/src/pages/_app.tsx
  kibbeh/src/styles/electron-header.css
  kibbeh/src/ui/MacButton.tsx
  kibbeh/src/ui/WinButton.tsx
Labels: enhancement, system

#2013 Kibbeh Translations
  kibbeh/package.json
  kibbeh/public/locales/bottom/translation.json
  kibbeh/public/locales/fi/translation.json
  kibbeh/public/locales/sv/translation.json
  kibbeh/public/locales/uz/translation.json
  yarn.lock
Labels: refactor, translation

#2053 updated hebrew translation
  kofta/public/locales/he/translation.json
Labels: translation

#2056 Baklava: Remove Kofta code
  baklava/src/electron.ts
Labels: system

#2054 Update README files
  README.md
  kibbeh/README.md
Labels: meta

#2055 localisation: update Austrian (de-AT) translation keys
  kibbeh/public/locales/de-AT/translation.json
Labels: translation

#2051 Updated the styling
  kibbeh/src/styles/globals.css
Labels: redesign

#2075 Added ProfileAbout component (redesign)
  kibbeh/src/icons/SolidContributor.tsx
  kibbeh/src/icons/SolidLink.tsx
  kibbeh/src/icons/SolidStaff.tsx
  kibbeh/src/icons/index.tsx
  kibbeh/src/stories/ProfileAbout.story.tsx
  kibbeh/src/ui/ProfileAbout.tsx
  kibbeh/src/ui/UserBadgeLg.tsx
Labels: kibbeh

#2064 Link regex updated
  kibbeh/src/lib/constants.ts
  kibbeh/src/lib/tests/constants.test.ts
Labels: enhancement

#2105 Updated Greek translation
  kibbeh/public/locales/el/translation.json
Labels: translation

#2101 fix(button component): added tailwind focus rings to buttons
  kibbeh/src/ui/Button.tsx
Labels: kibbeh

#2057 Update Dutch translations
  kibbeh/public/locales/nl/translation.json
Labels: translation

#2142 Fixes #2137 - Hide empty room description & fix button outline
  kibbeh/src/ui/RoomHeader.tsx
Labels: kibbeh

#2088 UpcomingRoomCardLg component
  kibbeh/src/icons/Link.tsx
  kibbeh/src/icons/Share.tsx
  kibbeh/src/icons/index.tsx
  kibbeh/src/shared-hooks/useOnClickOutside.tsx
  kibbeh/src/stories/UpcomingRoomCardLg.story.tsx
  kibbeh/src/stories/img/user-avatar-sm.png
  kibbeh/src/stories/img/user-avatar-sm1.png
  kibbeh/src/ui/Button.tsx
  kibbeh/src/ui/Tag.tsx
  kibbeh/src/ui/UpcomingRoomCardLg.tsx
Labels: kibbeh

#2176 [Spanish translation] Fix grammar errors, typos and make it match the English file
  kibbeh/public/locales/es/translation.json
Labels: translation

#2175 Hindi localization updated and typos fixed
  kibbeh/public/locales/hi/translation.json
Labels: translation

#2179 feat(kibbeh): expand room description by default
  kibbeh/src/ui/RoomHeader.tsx
Labels: enhancement

#2165 Remove Feta and fix commitlint to not do anything to the "kofta" folder
  README.md
  commitlint.config.js
  feta/assets/dogehouse.png
  feta/assets/glasses-doge.png
  feta/assets/regular-doge.png
Labels: refactor

#2121 Update Sound Effects
  kibbeh/public/sound-effects/mute.wav
  kibbeh/public/sound-effects/roomChatMention.wav
  kibbeh/public/sound-effects/roomInvite.wav
  kibbeh/public/sound-effects/unmute.wav
Labels: enhancement

#2202 Added a VolumeIndicator component
  kibbeh/src/stories/VolumeIndicator.story.tsx
  kibbeh/src/ui/VolumeIndicator.tsx
  kibbeh/tailwind.config.js
Labels: kibbeh

#2084 feat(kibbeh): ProfileTabs component w/ story
  kibbeh/src/stories/ProfileTabs.story.tsx
  kibbeh/src/ui/ProfileTabs.tsx
  kibbeh/tailwind.config.js
Labels: kibbeh

#2206 docs(DogeBook): scrolling through the docs page now works
  kibbeh/.storybook/manager.js
  kibbeh/.storybook/preview-head.html
Labels: documentation

#2083 refactor(kibbeh): match search overlay to with design spec
  kibbeh/src/modules/search/SearchBarController.tsx
  kibbeh/src/ui/Search/SearchBar.tsx
  kibbeh/src/ui/Search/SearchOverlay.tsx
Labels: kibbeh

#2211 feat(kibbeh): implement ChangeBannerCard component UI
  kibbeh/src/stories/ChangeBannerCard.story.tsx
  kibbeh/src/ui/Button.tsx
  kibbeh/src/ui/ChangeBannerCard.tsx
Labels: kibbeh

#2241 docs(contributing.md): update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#2242 chore(kibbeh): Turkish translations
  kibbeh/public/locales/tr/translation.json
Labels: translation

#2245 chore(kibbeh): Polish translation update
  kibbeh/public/locales/pl/translation.json
Labels: translation

#2243 Kousa/isaac/ws refactor
  kousa/.envrc
  kousa/lib/broth/legacy_handler.ex
  kousa/lib/broth/message/_types/operator.ex
  kousa/lib/broth/message/auth/request.ex
  kousa/lib/broth/message/call.ex
  kousa/lib/broth/message/cast.ex
  kousa/lib/broth/socket_handler.ex
  kousa/lib/broth/translator/v0_1_0.ex
  kousa/lib/kousa/room_chat.ex
  kousa/lib/onion/user_session.ex
  kousa/mix.exs
  kousa/mix.lock
  kousa/test/_support/ws_client.ex
  kousa/test/broth/_calls/schedule_room_test.exs
  kousa/test/broth/_casts/audio_autoplay_error_test.exs
  kousa/test/broth/_casts/auth_test.exs
  kousa/test/broth/_casts/follow_test.exs
  kousa/test/broth/_message/user/follow_test.exs
  kousa/test/broth/_message/user/unfollow_test.exs
  kousa/test/broth/auth/request_test.exs
  kousa/test/broth/room/create_test.exs
  kousa/test/broth/room/get_banned_users_test.exs
  kousa/test/broth/user/follow_test.exs
  kousa/test/broth/user/unfollow_test.exs
Labels: kousa

#2111 feat(kibbeh): ProfileHeader component
  kibbeh/src/icons/SolidPersonAdd.tsx
  kibbeh/src/icons/index.tsx
  kibbeh/src/stories/ProfileHeader.story.tsx
  kibbeh/src/stories/UserBadge.story.tsx
  kibbeh/src/ui/ProfileHeader.tsx
  kibbeh/src/ui/ProfileHeaderWrapper.tsx
  kibbeh/src/ui/UserBadge.tsx
  kibbeh/tailwind.config.js
Labels: kibbeh

#2265 fix: shit i know i broke
  kibbeh/public/sound-effects/mute.wav
  kibbeh/public/sound-effects/roomChatMention.wav
  kibbeh/public/sound-effects/roomInvite.wav
  kibbeh/public/sound-effects/unmute.wav
  kibbeh/src/global-stores/useDeafStore.ts
  kibbeh/src/modules/sound-effects/useSoundEffectStore.ts
  kibbeh/src/pages/_app.tsx
  kibbeh/src/styles/globals.css
Labels: kibbeh, refactor

#2334 add more translation to translate.json zh_TW
  kibbeh/public/locales/zh-TW/translation.json
Labels: translation

#2329 add avatarUrl in the peoplePreviewList response
  kebab/src/entities.ts
  kebab/src/responses.ts
  kebab/src/wrapper.ts
  kousa/lib/beef/mutations/rooms.ex
  kousa/lib/beef/schemas/user.ex
  kousa/test/beef/rooms_test.exs
Labels: kebab, kousa

#2311 UI polishing & improvements v1
  kibbeh/src/icons/SolidDeafened.tsx
  kibbeh/src/icons/SolidDeafenedOff.tsx
  kibbeh/src/icons/SolidFriendsAdd.tsx
  kibbeh/src/icons/SolidSimpleMegaphone.tsx
  kibbeh/src/icons/index.tsx
  kibbeh/src/modules/dashboard/CreateRoomModal.tsx
  kibbeh/src/modules/dashboard/FeedController.tsx
  kibbeh/src/modules/dashboard/ProfileBlockController.tsx
  kibbeh/src/modules/landing-page/LoginPage.tsx
  kibbeh/src/modules/layouts/ElectronHeader.tsx
  kibbeh/src/modules/room/UserPreviewModal.tsx
  kibbeh/src/modules/room/chat/RoomChatInput.tsx
  kibbeh/src/modules/room/chat/RoomChatList.tsx
  kibbeh/src/modules/room/chat/RoomChatMentions.tsx
  kibbeh/src/modules/room/useSplitUsersIntoSections.tsx
  kibbeh/src/modules/scheduled-rooms/CreateScheduledRoomModal.tsx
  kibbeh/src/modules/search/SearchBarController.tsx
  kibbeh/src/modules/user/FollowingController.tsx
  kibbeh/src/modules/user/VerticalUserInfoWithFollowButton.tsx
  kibbeh/src/pages/_app.tsx
  kibbeh/src/shared-hooks/useWindowSize.ts
  kibbeh/src/styles/date-time-picker.css
  kibbeh/src/types/overrides-mui.d.ts
  kibbeh/src/ui/Banner.tsx
  kibbeh/src/ui/BoxedIcon.tsx
  kibbeh/src/ui/ChangeAvatarCard.tsx
  kibbeh/src/ui/EmojiPicker.tsx
  kibbeh/src/ui/ErrorButtonItem.tsx
  kibbeh/src/ui/ErrorToast.tsx
  kibbeh/src/ui/InfoText.tsx
  kibbeh/src/ui/KeybindCard.tsx
  kibbeh/src/ui/LanguageSelector.tsx
  kibbeh/src/ui/MessagesDropdown.tsx
  kibbeh/src/ui/MinimizedRoomCard.tsx
  kibbeh/src/ui/ProfileAbout.tsx
  kibbeh/src/ui/ProfileHeader.tsx
  kibbeh/src/ui/RoomAvatar.tsx
  kibbeh/src/ui/RoomCard.tsx
  kibbeh/src/ui/RoomHeader.tsx
  kibbeh/src/ui/RoomPanelIconBar.tsx
  kibbeh/src/ui/RoomSectionHeader.tsx
  kibbeh/src/ui/Search/SearchResult/RoomSearchResult.tsx
  kibbeh/src/ui/Search/SearchResult/UserSearchResult.tsx
  kibbeh/src/ui/SettingsItemButton.tsx
  kibbeh/src/ui/Toast.tsx
  kibbeh/src/ui/UpcomingRoomsCard.tsx
  kibbeh/src/ui/UserAvatar/MultipleUsers.tsx
  kibbeh/src/ui/UserAvatar/SingleUser.tsx
  kibbeh/src/ui/UserBadgeLg.tsx
  kibbeh/src/ui/UserSummaryCard.tsx
  kibbeh/src/ui/VerticalUserInfo.tsx
  kibbeh/tailwind.config.js
Labels: kibbeh

#2378 dogehouse: fix and add stuff
  .github/labeler.yml
  .github/workflows/label-pr.yml
  .github/workflows/lint-and-test-kibbeh.yaml
  baklava/package.json
  kebab/package.json
  kibbeh/public/locales/bottom/translation.json
  kibbeh/public/locales/en/translation.json
  kibbeh/src/global-stores/useRoomChatMentionStore.ts
  kibbeh/src/modules/room/chat/navigateThroughQueriedUsers.ts
  kibbeh/src/modules/room/chat/useRoomChatMentionStore.ts
  kibbeh/src/modules/user/UserProfileController.tsx
  kibbeh/src/shared-hooks/useSetDeaf.ts
  kibbeh/src/shared-hooks/useSetMute.ts
  kibbeh/src/ui/MinimizedRoomCard.tsx
  kibbeh/src/ui/RoomPanelIconBar.tsx
  kousa/README.md
  kousa/lib/broth/routes/bot_auth.ex
  package.json
  pilaf/package.json
  shawarma/package.json
Labels: kibbeh, kousa

#2328 feat(kibbeh): NativeCheckbox component
  kibbeh/src/stories/NativeCheckbox.story.tsx
  kibbeh/src/ui/NativeCheckbox.tsx
  kibbeh/tailwind.config.js
Labels: kibbeh

#2396 baklava: add deafened icon to rpc
  baklava/package.json
  baklava/src/utils/rpc/ipc.ts
  baklava/yarn.lock
  kibbeh/src/modules/webrtc/utils/mergeRoomPermission.ts
  kibbeh/src/shared-hooks/useCurrentRoomInfo.ts
Labels: baklava, kibbeh

#2405 chore(kibbeh): update norwegian translations
  kibbeh/public/locales/nb/translation.json
Labels: kibbeh, translation

#2399 chore(kibbeh): update Indonesian translation
  kibbeh/public/locales/id/translation.json
Labels: kibbeh, translation

#2407 refactor(global): updated Bengali Translation
  kibbeh/public/locales/bn/translation.json
Labels: kibbeh, translation

#2408 fix(fr translation.json): update French Translation
  kibbeh/public/locales/fr/translation.json
Labels: kibbeh, translation

#2404 style(kibbeh): flex wrap leave button on xs screens
  kibbeh/src/ui/RoomPanelIconBar.tsx
Labels: kibbeh

#2412 docs(global): fix kebab example in readme
  kebab/README.md
Labels: kebab

#2401 Kousa/isaac/chat delete to pubsub
  kousa/lib/broth/message/_types/operator.ex
  kousa/lib/broth/message/chat/delete.ex
  kousa/lib/broth/message/chat/delete_msg.ex
  kousa/lib/broth/message/manifest.ex
  kousa/lib/broth/translator/v0_1_0.ex
  kousa/lib/kousa/chat.ex
  kousa/lib/onion/chat.ex
  kousa/test/broth/_casts/delete_room_chat_message_test.exs
  kousa/test/broth/_message/chat/delete_msg_test.exs
  kousa/test/broth/chat/delete_test.exs
Labels: kousa

#2413 fix(kibbeh): fixed a bug where transparent profile pictures would overlap with the background
  kibbeh/src/ui/ProfileHeader.tsx
Labels: kibbeh

#2417 perf(global): Upgraded a lot of packages (incl. nextjs)
  kebab/package.json
  kibbeh/package.json
  package.json
  yarn.lock
Labels: kebab, kibbeh

#2422 chore(translations): translated missing strings to the German language
  kibbeh/public/locales/de/translation.json
Labels: kibbeh, translation

#2421 Kousa/isaac/use user structs
  kousa/.envrc
  kousa/lib/beef/access/users.ex
  kousa/lib/beef/mutations/rooms.ex
  kousa/lib/beef/schemas/user.ex
  kousa/lib/beef/users.ex
  kousa/lib/broth/legacy_handler.ex
  kousa/lib/broth/message/auth/request.ex
  kousa/lib/broth/message/call.ex
  kousa/lib/broth/message/cast.ex
  kousa/lib/broth/message/chat/ban.ex
  kousa/lib/broth/message/chat/delete.ex
  kousa/lib/broth/message/chat/send.ex
  kousa/lib/broth/message/chat/unban.ex
  kousa/lib/broth/message/push.ex
  kousa/lib/broth/message/room/ban.ex
  kousa/lib/broth/message/room/create.ex
  kousa/lib/broth/message/room/create_scheduled.ex
  kousa/lib/broth/message/room/deafen.ex
  kousa/lib/broth/message/room/delete_scheduled.ex
  kousa/lib/broth/message/room/get_banned_users.ex
  kousa/lib/broth/message/room/get_info.ex
  kousa/lib/broth/message/room/get_invite_list.ex
  kousa/lib/broth/message/room/get_scheduled.ex
  kousa/lib/broth/message/room/get_top.ex
  kousa/lib/broth/message/room/invite.ex
  kousa/lib/broth/message/room/join.ex
  kousa/lib/broth/message/room/leave.ex
  kousa/lib/broth/message/room/mute.ex
  kousa/lib/broth/message/room/set_active_speaker.ex
  kousa/lib/broth/message/room/set_auth.ex
  kousa/lib/broth/message/room/set_role.ex
  kousa/lib/broth/message/room/unban.ex
  kousa/lib/broth/message/room/update.ex
  kousa/lib/broth/message/room/update_scheduled.ex
  kousa/lib/broth/message/user/ban.ex
  kousa/lib/broth/message/user/block.ex
  kousa/lib/broth/message/user/create_bot.ex
  kousa/lib/broth/message/user/follow.ex
  kousa/lib/broth/message/user/get_followers.ex
  kousa/lib/broth/message/user/get_following.ex
  kousa/lib/broth/message/user/get_info.ex
  kousa/lib/broth/message/user/get_relationship.ex
  kousa/lib/broth/message/user/unfollow.ex
  kousa/lib/broth/message/user/update.ex
  kousa/lib/broth/socket_handler.ex
  kousa/lib/broth/translator/v0_1_0.ex
  kousa/lib/kousa/auth.ex
  kousa/lib/kousa/chat.ex
  kousa/lib/kousa/user.ex
  kousa/lib/onion/chat.ex
  kousa/lib/onion/pub_sub.ex
  kousa/mix.lock
  kousa/test/_support/message.ex
  kousa/test/_support/ws_client.ex
  kousa/test/broth/_calls/edit_profile_test.exs
  kousa/test/broth/_message/room/set_role_test.exs
  kousa/test/broth/_message/room/update_test.exs
  kousa/test/broth/_message/user/update_test.exs
  kousa/test/broth/user/update_test.exs
  kousa/test/kousa/user.ex
Labels: kousa

#2420 refactor(kibbeh): sort languages using locale compare
  kibbeh/src/ui/LanguageSelector.tsx
Labels: kibbeh

#2433 chore: change `npm run` to `yarn` in translations
  kibbeh/public/locales/af/translation.json
  kibbeh/public/locales/am/translation.json
  kibbeh/public/locales/ar/translation.json
  kibbeh/public/locales/az/translation.json
  kibbeh/public/locales/bg/translation.json
  kibbeh/public/locales/bn/translation.json
  kibbeh/public/locales/cs/translation.json
  kibbeh/public/locales/de-AT/translation.json
  kibbeh/public/locales/de/translation.json
  kibbeh/public/locales/el/translation.json
  kibbeh/public/locales/en-AU/translation.json
  kibbeh/public/locales/en-OWO/translation.json
  kibbeh/public/locales/en-PIRATE/translation.json
  kibbeh/public/locales/eo/translation.json
  kibbeh/public/locales/et/translation.json
  kibbeh/public/locales/fa/translation.json
  kibbeh/public/locales/fi/translation.json
  kibbeh/public/locales/grc/translation.json
  kibbeh/public/locales/gsw/translation.json
  kibbeh/public/locales/he/translation.json
  kibbeh/public/locales/hr/translation.json
  kibbeh/public/locales/is/translation.json
  kibbeh/public/locales/ja/translation.json
  kibbeh/public/locales/kk/translation.json
  kibbeh/public/locales/li/translation.json
  kibbeh/public/locales/lt/translation.json
  kibbeh/public/locales/lv/translation.json
  kibbeh/public/locales/ro/translation.json
  kibbeh/public/locales/ru/translation.json
  kibbeh/public/locales/si/translation.json
  kibbeh/public/locales/sl/translation.json
  kibbeh/public/locales/so/translation.json
  kibbeh/public/locales/sq/translation.json
  kibbeh/public/locales/sr-LATIN/translation.json
  kibbeh/public/locales/ta/translation.json
  kibbeh/public/locales/tp/translation.json
  kibbeh/public/locales/uk/translation.json
  kibbeh/public/locales/ur/translation.json
  kibbeh/public/locales/uz/translation.json
  kibbeh/public/locales/vi/translation.json
Labels: kibbeh, translation

#2432 feat(kibbeh): add bot badges to many places
  kibbeh/src/icons/BotIcon.tsx
  kibbeh/src/icons/index.tsx
  kibbeh/src/modules/room/useSplitUsersIntoSections.tsx
  kibbeh/src/ui/RoomAvatar.tsx
  kibbeh/src/ui/UserAvatar/SingleUser.tsx
  kibbeh/src/ui/UserSummaryCard.tsx
  kibbeh/src/ui/VerticalUserInfo.tsx
Labels: kibbeh

#2436 fix(kibbeh): same message toast getting added in list
  kibbeh/src/modules/errors/useErrorToastStore.tsx
Labels: kibbeh

#2438 fix(baklava): fix dumb default deafen keybind
  baklava/src/utils/keybinds/index.ts
  kibbeh/src/global-stores/useKeyMapStore.ts
Labels: baklava, kibbeh

#2439 fix(kibbeh): @notification/mod only sends if mod state changes in same room
  kibbeh/src/shared-hooks/useCurrentRoomInfo.ts
Labels: kibbeh

#2431 CROATIAN | Translations
  kibbeh/public/locales/hr/translation.json
Labels: kibbeh, translation

#2445 chore(kibbeh): update finnish translations
  kibbeh/public/locales/fi/translation.json
Labels: kibbeh, translation

#2448 Greek Translation
  kibbeh/public/locales/el/translation.json
Labels: kibbeh, translation

#2454 chore(kibbeh): test commit
  kibbeh/README.md
Labels: kibbeh

#2458 fix(kibbeh): fix weird scrolling on Firefox
  kibbeh/src/styles/globals.css
Labels: kibbeh

#2449 fix(kibbeh): add formatted title in profile pages
  kibbeh/src/modules/user/UserPage.tsx
Labels: kibbeh

#2462 fix(kibbeh): style fixes
  kibbeh/src/modules/layouts/GridPanels.tsx
  kibbeh/src/modules/layouts/MainLayout.tsx
  kibbeh/src/modules/search/SearchPage.tsx
  kibbeh/src/ui/Search/SearchResult/RoomSearchResult.tsx
  kibbeh/src/ui/Search/SearchResult/UserSearchResult.tsx
  kibbeh/tailwind.config.js
Labels: kibbeh

#2463 fix(kibbeh): a thing from my last PR that didn't get commited for some reason
  kibbeh/src/modules/layouts/GridPanels.tsx
Labels: kibbeh

#2464 fix(kibbeh): actually fixed the bug (of the stickychildren margin on mobile)
  kibbeh/src/modules/layouts/GridPanels.tsx
Labels: kibbeh
