Repository benawad/dogehouse, pull requests merged in 2021-05, with the labels that each got.

#2467 refactor(kibbeh): updated traditional chinese translation
  kibbeh/public/locales/zh-TW/translation.json
Labels: kibbeh, translation

#2466 chore(kibbeh): update turkish translation
  kibbeh/public/locales/tr/translation.json
Labels: kibbeh, translation

#2469 feat(kibbeh): implemented the mobile header for the room page (and sorted a few bugs out)
  kibbeh/src/modules/layouts/GridPanels.tsx
  kibbeh/src/modules/layouts/MainLayout.tsx
  kibbeh/src/modules/room/RoomPage.tsx
  kibbeh/src/modules/room/RoomPanelController.tsx
  kibbeh/src/modules/room/RoomUsersPanel.tsx
  kibbeh/src/shared-components/InvitedToJoinRoomModal.tsx
  kibbeh/src/ui/mobile/MobileHeader/PageHeader.tsx
  kibbeh/src/ui/mobile/MobileHeader/ProfileHeader.tsx
  kibbeh/src/ui/mobile/MobileHeader/SearchHeader.tsx
Labels: kibbeh

#2394 feat(pilaf): Add StackNavigationProps interface for navigation and route
  pilaf/src/navigation/RootNavigation.ts
  pilaf/src/navigation/mainNavigator/RoomPage.tsx
  pilaf/tokens.ts
Labels: pilaf

#2460 #pilaf This one fixes a weird WebRTC runtime problem on some android …
  pilaf/android/gradle.properties
Labels: pilaf

#2475 feat(kibbeh): add follows you badge to user preview
  kibbeh/src/modules/room/UserPreviewModal.tsx
  kibbeh/src/modules/room/chat/RoomChatList.tsx
  kibbeh/src/modules/user/VerticalUserInfoWithFollowButton.tsx
  kibbeh/src/ui/UserBadge.tsx
  kibbeh/src/ui/VerticalUserInfo.tsx
Labels: kibbeh

#2476 chore(kibbeh): update russian translation
  kibbeh/public/locales/ru/translation.json
Labels: kibbeh, translation

#2477 Random polishments to kebab
  kebab/README.md
  kebab/examples/bot/package-lock.json
  kebab/examples/bot/tsconfig.json
  kebab/examples/chat/package-lock.json
  kebab/examples/chat/tsconfig.json
  kebab/examples/mediasoup-audio/package-lock.json
  kebab/examples/mediasoup-audio/tsconfig.json
  kebab/examples/react-chat/package-lock.json
  kebab/package.json
  kebab/src/audio/audioWrapper.ts
  kebab/src/audio/mediasoup-client.ts
  kebab/src/entities.ts
  kebab/src/index.ts
  kebab/src/util/ast.test.ts
  kebab/src/util/ast.ts
  kebab/src/util/index.ts
  kebab/src/websocket/index.ts
  kebab/src/websocket/raw.ts
  kebab/src/websocket/responses.ts
  kebab/src/websocket/wrapper.ts
Labels: kebab

#563 deploy using docker compose for dev and prod.
  .dockerignore
  docker-compose.local.yml
  docker-compose.prod.yml
  docker-compose.yml
  kofta/Dockerfile
  run.ps1
  run.sh
  shawarma/Dockerfile
  shawarma/package-lock.json
Labels: help wanted, shawarma

#2490 fix(kibbeh): fix logout button not working in mobile layout
  kibbeh/src/ui/mobile/MobileHeader/ProfileHeader.tsx
Labels: kibbeh

#2488 Fix doughdoge emote being too big for chat
  kibbeh/public/emotes/doughdoge.png
Labels: emote, kibbeh

#2487 chore(kibbeh): update ukrainian translations
  kibbeh/public/locales/uk/translation.json
Labels: kibbeh, translation

#2502 fix(translation.json): improved / added dutch translations
  kibbeh/public/locales/nl/translation.json
Labels: kibbeh, translation

#2491 Fixes #2485 Mobile UX show more
  kibbeh/src/modules/user/FollowingController.tsx
  kibbeh/src/shared-hooks/useIntersectionObserver.ts
Labels: kibbeh

#2494 fix(kibbeh): Search box clears when switching tabs
  kibbeh/src/modules/search/SearchBarController.tsx
  kibbeh/src/shared-hooks/usePageVisibility.ts
Labels: kibbeh

#2484 feat: support user and room search simultaneously
  kebab/src/websocket/wrapper.ts
  kibbeh/src/modules/search/SearchBarController.tsx
  kibbeh/src/ui/Search/SearchResult/RoomSearchResult.tsx
  kibbeh/src/ui/Search/SearchResult/UserSearchResult.tsx
  kousa/lib/broth/message/misc/search.ex
  kousa/lib/kousa/search.ex
  kousa/test/broth/_calls/search_test.exs
Labels: kebab, kibbeh, kousa

#2504 fix(kibbeh): fix #2197
  kibbeh/src/modules/debugging/AudioDebugAvatar.tsx
Labels: kibbeh

#2499 feat(kibbeh): implement AccountOverlay on mobile
  kibbeh/package.json
  kibbeh/src/global-stores/useAccountOverlay.ts
  kibbeh/src/icons/OutlineGlobe.tsx
  kibbeh/src/icons/SolidLogOut.tsx
  kibbeh/src/icons/index.tsx
  kibbeh/src/modules/language/LanguagePage.tsx
  kibbeh/src/modules/layouts/MainLayout.tsx
  kibbeh/src/pages/language.tsx
  kibbeh/src/stories/AccountOverlay.story.tsx
  kibbeh/src/ui/LanguageSelector.tsx
  kibbeh/src/ui/SettingsIcon.tsx
  kibbeh/src/ui/mobile/AccountOverlay.tsx
  kibbeh/src/ui/mobile/MobileHeader/ProfileHeader.tsx
  kibbeh/src/ui/mobile/__tests__/AccountOverlay.spec.tsx
  kibbeh/src/ui/mobile/__tests__/__snapshots__/AccountOverlay.spec.tsx.snap
  kibbeh/tailwind.config.js
  yarn.lock
Labels: kibbeh

#2506 fix(kibbeh): fix #2495 - change Ip into IP
  kibbeh/src/modules/room/UserPreviewModal.tsx
Labels: kibbeh

#2525 fix(kibbeh): update german translation
  kibbeh/public/locales/de/translation.json
Labels: kibbeh, translation

#2524 fix(kibbeh): update French translation
  kibbeh/public/locales/fr/translation.json
Labels: kibbeh, translation

#2527 fix(kibbeh): make SettingsIcon text-base on desktop
  kibbeh/src/ui/SettingsIcon.tsx
Labels: kibbeh

#2501 Feature/numactive
  kousa/lib/broth/routes/stats.ex
Labels: kousa

#2486 feat(kibbeh): add speaker badge near to username in chat
  kibbeh/src/modules/room/chat/RoomChat.tsx
  kibbeh/src/modules/room/chat/RoomChatList.tsx
  kibbeh/src/styles/globals.css
Labels: kibbeh

#2531 Fix kebab for those who get it as a package
  kebab/package.json
  kebab/tsconfig.json
Labels: kebab

#2526 fix(kibbeh): make mobile UI support electron app
  kibbeh/src/global-stores/useElectronMobileStore.ts
  kibbeh/src/modules/layouts/ElectronHeader.tsx
  kibbeh/src/modules/layouts/GridPanels.tsx
  kibbeh/src/modules/layouts/MainLayout.tsx
  kibbeh/src/modules/room/RoomUsersPanel.tsx
  kibbeh/src/pages/_app.tsx
  kibbeh/src/ui/ProfileHeaderWrapper.tsx
  kibbeh/src/ui/mobile/AccountOverlay.tsx
  kibbeh/src/ui/mobile/MobileHeader/ProfileHeader.tsx
Labels: kibbeh

#2514 fix(kibbeh): fix intersection observer hook
  kibbeh/src/modules/user/FollowingController.tsx
  kibbeh/src/shared-hooks/useIntersectionObserver.ts
Labels: kibbeh

#2518 Electron header and window changes
  baklava/package.json
  baklava/src/electron.ts
  kibbeh/src/ui/WinButton.tsx
Labels: baklava, kibbeh

#2537 fix(kibbeh): fix overflow issue
  kibbeh/src/modules/layouts/GridPanels.tsx
Labels: kibbeh

#2492 feat(EditProfileModal): discord avatar urls
  kibbeh/public/locales/af/translation.json
  kibbeh/public/locales/az/translation.json
  kibbeh/public/locales/bg/translation.json
  kibbeh/public/locales/bn/translation.json
  kibbeh/public/locales/da/translation.json
  kibbeh/public/locales/el/translation.json
  kibbeh/public/locales/en-PIRATE/translation.json
  kibbeh/public/locales/en/translation.json
  kibbeh/public/locales/eo/translation.json
  kibbeh/public/locales/es/translation.json
  kibbeh/public/locales/et/translation.json
  kibbeh/public/locales/eu/translation.json
  kibbeh/public/locales/fr/translation.json
  kibbeh/public/locales/grc/translation.json
  kibbeh/public/locales/he/translation.json
  kibbeh/public/locales/hi/translation.json
  kibbeh/public/locales/hu/translation.json
  kibbeh/public/locales/id/translation.json
  kibbeh/public/locales/is/translation.json
  kibbeh/public/locales/it/translation.json
  kibbeh/public/locales/ja/translation.json
  kibbeh/public/locales/li/translation.json
  kibbeh/public/locales/lt/translation.json
  kibbeh/public/locales/lv/translation.json
  kibbeh/public/locales/nb/translation.json
  kibbeh/public/locales/ne/translation.json
  kibbeh/public/locales/nl/translation.json
  kibbeh/public/locales/pl/translation.json
  kibbeh/public/locales/pt-BR/translation.json
  kibbeh/public/locales/pt-PT/translation.json
  kibbeh/public/locales/ro/translation.json
  kibbeh/public/locales/ru/translation.json
  kibbeh/public/locales/si/translation.json
  kibbeh/public/locales/sk/translation.json
  kibbeh/public/locales/sl/translation.json
  kibbeh/public/locales/so/translation.json
  kibbeh/public/locales/sq/translation.json
  kibbeh/public/locales/sr-LATIN/translation.json
  kibbeh/public/locales/sr/translation.json
  kibbeh/public/locales/sv/translation.json
  kibbeh/public/locales/ta/translation.json
  kibbeh/public/locales/te/translation.json
  kibbeh/public/locales/th/translation.json
  kibbeh/public/locales/tl/translation.json
  kibbeh/public/locales/tp/translation.json
  kibbeh/public/locales/tr/translation.json
  kibbeh/public/locales/vi/translation.json
  kibbeh/public/locales/zh-CN/translation.json
  kibbeh/public/locales/zh-TW/translation.json
  kibbeh/src/modules/user/EditProfileModal.tsx
  kousa/lib/beef/schemas/user.ex
  kousa/test/beef/user_test.exs
Labels: kibbeh, kousa, translation

#2556 fix(kousa): add .env db_url var to test.exs
  kousa/config/test.exs
Labels: kousa

#2544 feat(lang): added LOLCAT language
  kibbeh/public/locales/en-LOLCAT/translation.json
  kibbeh/src/ui/LanguageSelector.tsx
Labels: kibbeh, translation

#2554 feat(kibbeh): implement RoomOverlay
  kibbeh/src/modules/room/RoomPanelController.tsx
  kibbeh/src/modules/room/RoomPanelIconBarController.tsx
  kibbeh/src/modules/room/chat/RoomChat.tsx
  kibbeh/src/modules/room/chat/RoomChatInput.tsx
  kibbeh/src/modules/room/mobile/RoomOverlay.tsx
  kibbeh/src/shared-hooks/useWindowSize.ts
  kibbeh/src/ui/RoomPanelIconBar.tsx
  kibbeh/src/ui/mobile/MobileNav.tsx
  kibbeh/tailwind.config.js
Labels: kibbeh

#2509 fix(kibbeh): fix #2483 - fix responsive issue of user follow buttons
  kibbeh/src/ui/ProfileHeader.tsx
  kibbeh/src/ui/ProfileHeaderWrapper.tsx
Labels: kibbeh

#2578 feat(baklava): add targz and rpm build
  .github/workflows/baklava-build_and_release.yaml
  baklava/package.json
Labels: baklava

#2585 fix(kibbeh/public/locales/cs/translation.js): update Czech translation
  kibbeh/public/locales/cs/translation.json
Labels: kibbeh, translation

#2584 fix(baklava): temp disable discord auth on electron (#2577)
  baklava/src/electron.ts
  kibbeh/src/modules/landing-page/LoginPage.tsx
Labels: baklava, kibbeh

#2557 mods cant move other mods to listeners section now
  kibbeh/src/modules/room/UserPreviewModal.tsx
  kousa/lib/beef/room_permissions.ex
  kousa/lib/kousa/room.ex
  kousa/test/broth/_casts/set_listener_test.exs
  kousa/test/broth/room/set_role_test.exs
Labels: kibbeh, kousa

#2549 fix(kibbeh): useResize hook to calculate the estimated size of the message
  kibbeh/src/modules/room/chat/RoomChatList.tsx
  kibbeh/src/modules/room/useResize.ts
Labels: kibbeh

#2587 feat(kibbeh): update hungarian translation
  kibbeh/public/locales/hu/translation.json
Labels: kibbeh, translation

#2591 Revert "fix: remodding a mod won't unmod them in UI"
  kibbeh/src/shared-hooks/useMainWsHandler.tsx
  kousa/test/broth/room/set_auth_test.exs
Labels: kibbeh, kousa

#2602 chore(kibbeh): fixed German language
  kibbeh/public/locales/de/translation.json
Labels: kibbeh, translation

#2548 feat(kousa): order room search by numPeopleInside and user search by numFollowers
  kousa/lib/beef/access/rooms.ex
  kousa/lib/beef/access/users.ex
  kousa/test/beef/follow_test.exs
  kousa/test/beef/rooms_test.exs
Labels: kousa

#2592 docs(global): added documentation for setting up local instances of the dogehouse backend
  kousa/.envrc
  kousa/README.md
  shawarma/README.md
Labels: kousa, shawarma

#2617 chore(kibbeh): update bengali translation
  kibbeh/public/locales/bn/translation.json
Labels: kibbeh, translation

#2600 feat(kibbeh): translated into ladin
  kibbeh/public/locales/lld/translation.json
  kibbeh/src/ui/LanguageSelector.tsx
Labels: kibbeh, translation

#2622 fix(kibbeh): update Dutch Translations
  kibbeh/public/locales/nl/translation.json
Labels: kibbeh, translation

#2621 feat(kibbeh): fixed typos and updated hungarian
  kibbeh/public/locales/hu/translation.json
Labels: kibbeh, translation

#2625 fix(kibbeh): persian translations
  kibbeh/public/locales/fa/translation.json
Labels: kibbeh, translation

#2627 fix(kibbeh): update Arabic Translations
  kibbeh/public/locales/ar/translation.json
Labels: kibbeh, translation

#2638 fix(kibbeh): update Spanish translation
  kibbeh/public/locales/es/translation.json
Labels: kibbeh, translation

#2613 Updated Translations
  kibbeh/public/locales/id/translation.json
Labels: kibbeh, translation

#2387 feat(kibbeh):Base logic to test upload in ChangeAvatarCard
  kibbeh/src/global-stores/useRoomChatMentionStore.ts
  kibbeh/src/modules/room/chat/navigateThroughQueriedUsers.ts
  kibbeh/src/modules/room/chat/useRoomChatMentionStore.ts
  kibbeh/src/ui/ChangeAvatarCard.tsx
  kibbeh/src/ui/UserWideButton.tsx
Labels: kibbeh

#2564 feat: hover animations on follow buttons
  kibbeh/src/ui/Button.tsx
  kibbeh/src/ui/ProfileAbout.tsx
  kibbeh/src/ui/UserSummaryCard.tsx
  kibbeh/src/ui/tests/__snapshots__/Button.spec.tsx.snap
Labels: kibbeh

#2640 fix(kebab): fix JSDoc errors and style issues
  kebab/src/audio/audioWrapper.ts
  kebab/src/http/bot.ts
  kebab/src/util/ast.ts
  kebab/src/websocket/raw.ts
  kebab/src/websocket/wrapper.ts
Labels: kebab

#2565 Update Thai translation
  kibbeh/public/locales/th/translation.json
Labels: kibbeh, translation

#2570 fix(kibbeh/public/locales/fr/translation.json): fix old translations …
  kibbeh/public/locales/fr/translation.json
Labels: kibbeh, translation

#2611 feat(kebbeh): change nprogress bar color
  kibbeh/src/styles/globals.css
Labels: kibbeh

#2623 feat(kibbeh): update polish translation
  kibbeh/public/locales/pl/translation.json
Labels: kibbeh, translation

#2635 fix(kibbeh): update Slovak Translations
  kibbeh/public/locales/sk/translation.json
Labels: kibbeh, translation

#2645 feat(kibbeh & kousa): SSR'd the user profile
  kibbeh/src/modules/display/HeaderController.tsx
  kibbeh/src/modules/user/UserPage.tsx
  kousa/lib/broth.ex
  kousa/lib/broth/routes/user.ex
  yarn.lock
Labels: kibbeh, kousa

#2647 feat(kibbeh): Add C's English
  kibbeh/public/locales/en-C/GUIDE.md
  kibbeh/public/locales/en-C/translation.json
  kibbeh/src/ui/LanguageSelector.tsx
Labels: kibbeh, translation

#2650 refactor(kibbeh): infer translation keys from locale file instead of …
  kibbeh/package.json
  kibbeh/scripts/generateTranslationTypes.ts
  kibbeh/src/generated/translationKeys.ts
  kibbeh/src/shared-hooks/useTypeSafeTranslation.ts
  kibbeh/src/types/util-types.ts
Labels: kibbeh

#2651 fix(kousa): discord auth no longer asks you to accept after already d…
  kousa/lib/broth/routes/discord_auth.ex
Labels: kousa

#2655 chore(kibbeh): update turkish translation
  kibbeh/public/locales/tr/translation.json
Labels: kibbeh, translation

#2656 feat(kibbeh): update polish translation
  kibbeh/public/locales/pl/translation.json
Labels: kibbeh, translation

#2659 feat(kibbeh): implemented a link parser (and Twemoji) in the user profile
  kibbeh/src/modules/display/TextParser.tsx
  kibbeh/src/ui/ProfileAbout.tsx
Labels: kibbeh

#2669 chore(kibbeh): update chinese translation
  kibbeh/public/locales/zh-CN/translation.json
Labels: kibbeh, translation

#2673 fix(kibbeh): update Czech translation
  kibbeh/public/locales/cs/translation.json
Labels: kibbeh, translation

#2672 fix(kibbeh): update Indonesian translation
  kibbeh/public/locales/id/translation.json
Labels: kibbeh, translation

#2675 fix(kibbeh): make the twemoji look better
  kibbeh/src/styles/globals.css
  kibbeh/src/ui/Twemoji.tsx
Labels: kibbeh

#2679 feat(kibbeh): implement a better, interactive FloatingRoom
  kibbeh/src/modules/dashboard/FeedController.tsx
  kibbeh/src/modules/layouts/FloatingRoomInfo.tsx
  kibbeh/src/shared-hooks/useBoundingClientRect.ts
  kibbeh/src/styles/globals.css
  kibbeh/src/ui/BoxedIcon.tsx
  kibbeh/src/ui/tests/__snapshots__/BoxedIcon.spec.tsx.snap
  kibbeh/src/ui/tests/__snapshots__/MinimizedRoomCard.spec.tsx.snap
  kibbeh/tailwind.config.js
Labels: kibbeh

#2684 fixed some spelling/grammatical errors that bugged me
  kibbeh/src/modules/user/UserProfileController.tsx
  pilaf/README.md
Labels: kibbeh, pilaf

#2693 fix(kibbeh): update Czech translation
  kibbeh/public/locales/cs/translation.json
Labels: kibbeh, translation

#2691 fix(baklava): change createSpalsh to createSplash
  baklava/src/electron.ts
Labels: baklava

#2704 feat(dolma): setup unitoken support and more tests
  dolma/src/index.ts
  dolma/src/lib/decode.ts
  dolma/src/lib/encode.ts
  dolma/src/lib/filterString.ts
  dolma/src/lib/filterUnitoken.ts
  dolma/src/lib/msgToken.ts
  dolma/src/tokens/index.ts
  dolma/src/util/types/tokenTypes.ts
  dolma/test/tests/encoding.ts
Labels: dolma

#2705 fix(kibbeh): `yarn i18`
  kibbeh/public/locales/cs/translation.json
Labels: kibbeh, translation

#2697 fix(kibbeh): update pt-PT translation
  kibbeh/public/locales/pt-PT/translation.json
Labels: kibbeh, translation

#2713 chore(kibbeh): update bengali translation
  kibbeh/public/locales/bn/translation.json
Labels: kibbeh, translation

#2715 Update CreateRoomPage.tsx
  pilaf/src/pages/CreateRoomPage.tsx
Labels: pilaf

#2720 fix(kibbeh): made Twemojis have an alt text (and mathematically centred the emojis)
  kibbeh/src/styles/globals.css
  kibbeh/src/ui/Twemoji.tsx
Labels: kibbeh

#2724 fix(kibbeh): updated hungarian translation
  kibbeh/public/locales/hu/translation.json
Labels: kibbeh, translation

#2687 feat(kibbeh): update polish translation
  kibbeh/public/locales/pl/translation.json
Labels: kibbeh, translation

#2736 chore(kibbeh): update chinese translation
  kibbeh/public/locales/zh-CN/translation.json
Labels: kibbeh, translation

#2738 chore(kibbeh): update chinese translation
  kibbeh/public/locales/zh-CN/translation.json
Labels: kibbeh, translation

#2739 chore(kibbeh): update bengali translation
  kibbeh/public/locales/bn/translation.json
Labels: kibbeh, translation

#2742 fix(kibbeh): update Vietnamese Translation
  kibbeh/public/locales/vi/translation.json
Labels: kibbeh, translation

#2748 fix(kibbeh): prevent login screen from rendering if tokens is not yet checked
  kibbeh/src/modules/landing-page/LoginPage.tsx
Labels: kibbeh

#2751 Add pig latin vanity language
  kibbeh/public/locales/en-PIGLATIN/translation.json
  kibbeh/src/ui/LanguageSelector.tsx
Labels: kibbeh, translation

#2754 fix(kibbeh): update Vietnamese Translation
  kibbeh/public/locales/vi/translation.json
Labels: kibbeh, translation

#2756 feat(kibbeh): add loader to search bar
  kibbeh/src/modules/search/SearchBarController.tsx
  kibbeh/src/modules/search/SearchPage.tsx
  kibbeh/src/stories/MobileHeader/SearchHeader.story.tsx
  kibbeh/src/stories/Search/SearchBar.story.tsx
  kibbeh/src/ui/Search/SearchBar.tsx
  kibbeh/src/ui/mobile/MobileHeader/SearchHeader.tsx
Labels: kibbeh

#2744 feat(kibbeh): added language search
  kibbeh/src/ui/LanguageSearch.tsx
  kibbeh/src/ui/LanguageSelector.tsx
  yarn.lock
Labels: kibbeh

#2760 feat(kousa): add emoji chat token
  kousa/lib/broth/message/_types/chat_token_type.ex
Labels: kousa

#2746 refactor: make user:admin_update require id instead of username
  kebab/src/websocket/wrapper.ts
  kibbeh/src/modules/admin/AdminPageForm.tsx
  kibbeh/src/ui/ProfileAdmin.tsx
  kousa/lib/broth/message/user/admin_update.ex
  kousa/test/broth/user/admin_update_test.exs
Labels: kebab, kibbeh, kousa

#2762 feat(kousa): add emoji chat token
  kousa/lib/broth/message/_types/chat_token_type.ex
  kousa/test/broth/_types/chat_token.exs
Labels: kousa

#2759 fix(kibbeh): add top padding to banned users
  kibbeh/src/modules/room/BlockedFromRoomUsers.tsx
Labels: kibbeh

#2767 chore(kebab): add new token
  kebab/src/entities.ts
  kebab/src/util/ast.ts
Labels: kebab

#2768 chore(kebab): migrate examples to yarn
  kebab/examples/bot/README.md
  kebab/examples/bot/package-lock.json
  kebab/examples/chat/README.md
  kebab/examples/chat/package-lock.json
  kebab/examples/create-bot/README.md
  kebab/examples/create-bot/package-lock.json
  kebab/examples/mediasoup-audio/README.md
  kebab/examples/mediasoup-audio/package-lock.json
  kebab/examples/react-chat/README.md
  kebab/examples/react-chat/package-lock.json
  kibbeh/src/modules/room/BlockedFromRoomUsers.tsx
  kibbeh/src/modules/room/RoomSettingModal.tsx
  package.json
  yarn.lock
Labels: kebab, kibbeh

#2765 fix(kibbeh): add more Linux platforms to download
  kibbeh/src/pages/download.tsx
Labels: kibbeh

#2734 fix(kibbeh): upcomingroomscard.tsx today "k:mm a" > "h:mm a"
  kibbeh/src/ui/UpcomingRoomsCard.tsx
Labels: kibbeh

#2773 feat(kibbeh): redesign and implement new staff and contributor badges
  kibbeh/src/icons/badges/ContributorBadge.tsx
  kibbeh/src/icons/badges/StaffBadge.tsx
  kibbeh/src/icons/badges/index.tsx
  kibbeh/src/modules/dashboard/ProfileBlockController.tsx
  kibbeh/src/ui/ProfileAbout.tsx
  kibbeh/src/ui/UserBadge.tsx
  kibbeh/src/ui/UserBadgeLg.tsx
  kibbeh/src/ui/UserProfile.tsx
  kibbeh/src/ui/UserSummaryCard.tsx
  kibbeh/src/ui/VerticalUserInfo.tsx
  yarn.lock
Labels: kibbeh

#2783 Add security note to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: meta

#2793 fix(kousa): search
  kousa/lib/beef/access/users.ex
Labels: kousa

#2795 fix(kibbeh): fix FloatingRoomInfo offset
  kibbeh/src/modules/layouts/FloatingRoomInfo.tsx
Labels: kibbeh

#2799 fix(kibbeh): update Vietnamese Translation
  kibbeh/public/locales/vi/translation.json
Labels: kibbeh, translation

#2800 fix(kibbeh): update OWO Translation
  kibbeh/public/locales/en-OWO/translation.json
Labels: kibbeh, translation

#2788 fix(kibbeh): update Brazilian Portuguese Translation
  kibbeh/public/locales/pt-BR/translation.json
Labels: kibbeh, translation

#2797 fix(kibbeh): fix header clip on iOS with keyboard open
  kibbeh/src/modules/room/mobile/RoomOverlay.tsx
  kibbeh/src/shared-hooks/useViewportSize.ts
Labels: kibbeh

#2803 fix(dolma): fix emotes, codeblocks and refactor
  dolma/src/lib/filterString.ts
Labels: dolma

#2807 fix(kibbeh): update locale/cs
  kibbeh/public/locales/cs/translation.json
Labels: kibbeh, translation

#2812 Modify ternary expression in SingleUser
  kibbeh/src/ui/UserAvatar/SingleUser.tsx
Labels: kibbeh

#2810 chore(kibbeh): update chinese translation
  kibbeh/public/locales/zh-CN/translation.json
Labels: kibbeh, translation

#2813 fix(kibbeh): update Indonesian 1/x
  kibbeh/public/locales/id/translation.json
Labels: kibbeh, translation

#2777 fix(kibbeh): updated hungarian translation
  kibbeh/public/locales/hu/translation.json
Labels: kibbeh, translation

#2820 fix(kibbeh): update Sanskirt Translation
  kibbeh/public/locales/sa/translation.json
Labels: kibbeh, translation

#2819 chore(kibbeh): update chinese translation
  kibbeh/public/locales/zh-CN/translation.json
Labels: kibbeh, translation

#2824 fix(kibbeh): fixed margin issue and avatar default not exist
  kibbeh/src/modules/developer/BotCard.tsx
  kibbeh/src/modules/developer/BotIcon.tsx
  kibbeh/src/modules/developer/BotInfo.tsx
  kibbeh/src/modules/developer/YourBots.tsx
Labels: kibbeh

#2827 fix some Arabic translations
  kibbeh/public/locales/ar/translation.json
Labels: kibbeh, translation

#2831 fix(kibbeh): update Finnish translations
  kibbeh/public/locales/fi/translation.json
Labels: kibbeh, translation

#2825 fix(dolma): make emotes case-insensitive
  dolma/src/lib/filterString.ts
Labels: dolma

#2826 added Kurdish/Sorani folder for translation, translated some concepts
  kibbeh/public/locales/ku/translation.json
Labels: kibbeh, translation

#2852 Fix emotes
  kibbeh/src/modules/room/chat/RoomChatInput.tsx
  yarn.lock
Labels: bug, kibbeh

#2848 fix(kibbeh): update German Translation
  kibbeh/public/locales/de/translation.json
Labels: kibbeh, translation

#2856 New rewritten client for kebab
  kebab/README.md
  kebab/examples/bot/package-lock.json
  kebab/examples/bot/src/index.ts
  kebab/package.json
  kebab/src/README.md
  kebab/src/client/README.md
  kebab/src/client/http/bot.ts
  kebab/src/client/http/dev.ts
  kebab/src/client/http/endpoint.ts
  kebab/src/client/http/index.ts
  kebab/src/client/index.ts
  kebab/src/client/requester/auth.ts
  kebab/src/client/requester/chat.ts
  kebab/src/client/requester/index.ts
  kebab/src/client/requester/misc.ts
  kebab/src/client/requester/room.ts
  kebab/src/client/requester/user.ts
  kebab/src/client/subscriber/index.ts
  kebab/src/client/subscriber/legacy.ts
  kebab/src/client/type-util.ts
  kebab/src/entities.ts
  kebab/src/index.ts
  kebab/src/pagination.ts
  kebab/src/websocket/raw.ts
  kibbeh/src/modules/room/BlockedFromRoomUsers.tsx
Labels: kebab, kibbeh

#2855 fix(profileheader): append username if displayName is not set
  kibbeh/public/locales/es/translation.json
  kibbeh/src/ui/ProfileHeader.tsx
Labels: kibbeh, translation

#2853 DOC: Fix camelCase
  kousa/README.md
Labels: kousa

#2842 [Shawarma] upgrading dependencies to newest versions to fix security issues
  shawarma/package-lock.json
  shawarma/package.json
Labels: shawarma

#2838 Updated Serbian Translations
  kibbeh/public/locales/sr-LATIN/translation.json
Labels: kibbeh, translation

#2828 feat(kibbeh): created en-CODE language
  kibbeh/public/locales/en-CODE/translation.json
Labels: kibbeh, translation

#2791 fix(kibbeh): updated French translation
  kibbeh/public/locales/fr/translation.json
Labels: kibbeh, translation
