Repository benawad/dogehouse, changes with the owners that CODEOWNERS names for each.
All owners: @overlisted, @amitojsingh366, @HoloPanio, @willdoescode

feat(global): make workflows cache
  .github/workflows/dolma-npm_deploy.yaml
  .github/workflows/kebab-npm_publish.yaml
  dolma/package.json
Owners: @HoloPanio

chore(kebab): trigger workflow
  kebab/package.json
Owners: @overlisted

chore(kebab): trigger workflow
  kebab/package.json
Owners: @overlisted

chore(kebab): trigger workflow
  .github/workflows/kebab-npm_publish.yaml
Owners: none

fix(global): update npm deployment scripts
  .github/workflows/globalkey-npm_deploy.yaml
  .github/workflows/kebab-npm_publish.yaml
Owners: none

fix(kibbeh): removed extra size info needed on banner
  dolma/package.json
  kebab/package.json
  kibbeh/src/modules/user/EditProfileModal.tsx
Owners: @HoloPanio, @overlisted

fix(global): remove yarn cache from globalkey
  .github/workflows/globalkey-npm_deploy.yaml
Owners: none

feat(kebab): release 0.3.3
  kebab/package.json
Owners: @overlisted

feat: add admin tab to user profile
  dolma/package.json
  kebab/package.json
  kibbeh/public/locales/en/translation.json
  kibbeh/src/ui/ProfileAdmin.tsx
  kibbeh/src/ui/ProfileTabs.tsx
  kousa/lib/kousa/user.ex
  yarn.lock
Owners: @HoloPanio, @overlisted

chore(kebab): trigger workflow
  kebab/package.json
Owners: @overlisted

chore(global): yarn install
  dolma/package.json
  kibbeh/package.json
Owners: @HoloPanio

refactor(kibbeh): use shorthand
  kibbeh/src/ui/ProfileAdmin.tsx
Owners: none

fix(kousa): banner regex more inclusive
  kousa/lib/beef/schemas/user.ex
  kousa/lib/broth/message/user/update.ex
  kousa/test/broth/user/update_test.exs
Owners: none

chore(kousa): update tests
  kousa/test/broth/user/admin_update_test.exs
Owners: none

chore(kousa): update tests
  kousa/test/broth/user/admin_update_test.exs
Owners: none

chore(kousa): update tests
  kousa/test/broth/user/admin_update_test.exs
Owners: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

test(kousa): fix
  kousa/test/broth/user/admin_update_test.exs
Owners: none

feat(kousa): swap out argon2 for hmac
  kebab/package-lock.json
  kibbeh/package.json
  kousa/Session.vim
  kousa/config/dev.exs
  kousa/config/releases.exs
  kousa/config/test.exs
  kousa/lib/kousa/auth.ex
  kousa/lib/kousa/utils/hash.ex
  kousa/mix.exs
  kousa/mix.lock
  kousa/test/broth/room/ban_test.exs
  yarn.lock
Owners: @overlisted

chore(kousa): remove vim session
  kousa/Session.vim
Owners: none

create file
  kibbeh/public/locales/en-PIGLATIN/translation.json
Owners: none

Update LanguageSelector.tsx
  kibbeh/src/ui/LanguageSelector.tsx
Owners: none

100 mark
  kibbeh/public/locales/en-PIGLATIN/translation.json
Owners: none

200 mark
  kibbeh/public/locales/en-PIGLATIN/translation.json
Owners: none

chore(kibbeh): update polish translation
  kibbeh/public/locales/pl/translation.json
Owners: none

chore(kebab): remove package-lock.json
  kebab/package-lock.json
Owners: @overlisted

fix(kibbeh): make admin tab highlight
  kibbeh/src/ui/ProfileTabs.tsx
Owners: none

fix(upcomingroomscard.tsx): "k:mm a" > "h:mm a"
  kibbeh/src/ui/UpcomingRoomsCard.tsx
Owners: none

chore(kibbeh): update chinese translation
  kibbeh/public/locales/zh-CN/translation.json
Owners: none

added translation 1
  kebab/package.json
  kibbeh/public/locales/nl/translation.json
  package.json
Owners: @overlisted

translation 2
  kibbeh/public/locales/nl/translation.json
Owners: none

translation 3
  kibbeh/public/locales/nl/translation.json
Owners: none

fix(kibbeh): upcomingroomscard.tsx "k:mm a" > "h:mm a"
  kibbeh/src/ui/UpcomingRoomsCard.tsx
Owners: none

CODEOWNERS:

/kebab/ @overlisted
/baklava/ @amitojsingh366
/dolma/ @HoloPanio
/globalkey/ @willdoescode
